{{#*inline "title"}}Membership Cancelled | Twennie{{/inline}}

<div class="success-container">
  <h1 class="registration-complete">membership cancelled</h1>
  <p>Your membership has been successfully cancelled.</p>
  <p>If you ever want to return, we’d be glad to welcome you back to the Twennie community.</p>
  <a href="/" class="dashboard-button">return to homepage</a>
</div>