{{#*inline "title"}}Membership Updated | Twennie{{/inline}}

<div class="success-container">
  <h1 class="registration-complete">membership updated!</h1>
  <p>Your membership has been successfully updated, {{username}}.</p>
  <a href="{{dashboardLink}}" class="dashboard-button">access my dashboard</a>
</div>