{{#*inline "title"}}Become a Member | Twennie{{/inline}}
<div class="membership-form-container">
  <h1 class="form-title">become a member</h1>

  <div class="form-video">
    <!-- Embedded Cloudinary video -->
    <video width="500" controls poster="/images/membership.png" style="padding-bottom: 30px">
      <source src="https://res.cloudinary.com/dgeszflt3/video/upload/v1744390708/Membership_h7z75p.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </div>

  <div class="membership-buttons" style="margin-bottom: 200px">
    <a href="/member/form" class="membership-button">individual</a>
    <a href="/member/group/verify" class="membership-button">member of a group</a>
    <a href="/leader/form" class="membership-button">group leader</a>
  </div>
</div>
