{{#*inline "title"}}Payment Successful! | Twennie{{/inline}}

<div class="success-container">
  <h1 class="registration-complete">payment successful!</h1>
  <p>Welcome to Twennie, {{username}}. Your membership is now active.</p>
  <p>You can now access all Twennie resources available to paid members.</p>

  <a href="{{dashboardLink}}" class="dashboard-button">access my dashboard</a>
</div>