{{#*inline "title"}}Registered! | Twennie{{/inline}}

<div class="success-container">
    <h1 class="registration-complete">registration complete!</h1>
    <p>Welcome to Twennie, {{username}}!</p>
<a href="{{dashboardLink}}" class="dashboard-button">access my dashboard</a>

</div>