{{#*inline "title"}}Assignment Successful | Twennie{{/inline}}

<div class="success-container">
  <h1 class="success-title">assignment complete!</h1>
  <p class="success-message">
    Your unit has been successfully assigned. Each selected recipient will see this unit in their dashboard.
  </p>
  <a href="/dashboard/leader" class="success-button">return to your dashboard</a>
</div>

<style>
.success-container {
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  max-width: 500px;
}

.success-title {
  margin-top: 200px;
  color: #262262;
  font-size: 24px;
  font-weight: bold;
}

.success-message {
  font-size: 18px;
  margin: 10px 0;
  font-family: "Figtree";
}

.success-button {
  display: block;
  font-size: 11pt;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 99px;
  background-color: #262262;
  color: white;
  font-family: "Figtree";
  font-weight: 800;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  width: 50%;
}

.success-button:hover {
  background-color: #4a4ab2;
}
</style>
