<div class="error-container">
    <h1 class="error-title">Our sincerest apologies.</h1>
    <p class="error-message">
        This unit is accessible to members only. Please log in and try again.
    </p>

    <a href="javascript:history.back()" class="error-button">go back</a>
</div>