{{#*inline "title"}}Success! | Twennie{{/inline}}
<div class="promptset-assign-success-container">
    <h1 class="promptset-assign-success-title">You have successfully assigned this prompt set!</h1>
    <h2 class="promptset-assign-success-subtitle">{{promptset_title}}</h2>

    <p class="promptset-assign-success-message">
        The assigned group member(s) will now see this prompt set in their dashboard. 
        They should complete one prompt <strong>{{frequency}}</strong> until the target completion date of 
        <strong>{{completion_date}}</strong>. You can track their progress in your dashboard.
    </p>

    <a href="{{dashboard}}" class="promptset-assign-success-btn">return to my dashboard</a>
</div>