<div class="error-container">
  <h1 class="error-title">Our sincerest apologies.</h1>
  <p class="error-message">
    Something has gone wrong with this form. Please 
    <a href="mailto:info@twennie.com" class="error-contact-link">contact Twennie</a>.
  </p>

  <a href="javascript:history.back()" class="error-button">go back</a>
</div>