<div class="suggested-units">
  <h2 class="suggested-units-title">Some Suggested Units for Contributing Members</h2>
  
  <div class="suggested-units-list">
    <div class="suggested-unit">ARTICLE: <em>How to Use Time for More Than Just Billable Hours and Still Make Money</em></div>
    <div class="suggested-unit">MICRO-STUDY: <em>Engaging a Team with Culture Prompts</em></div>
    <div class="suggested-unit">PROMPT-SET: <em>Activities for Connecting with Team Members in Short Bursts</em></div>
    <div class="suggested-unit">MICRO-COURSE: <em>Communication Strategies for Architecture Teams</em></div>
    <div class="suggested-unit">TEMPLATE: <em>Career Planning with a Twist - Considering Mental Health in Career Choices</em></div>
    <div class="suggested-unit">VIDEO: <em>Testimonials from Real Life Professionals on the Real Life Struggles of App Designers</em></div>
    <div class="suggested-unit">EXERCISE: <em>A Game for Making the Most of a Monthly Project Meeting</em></div>
  </div>
</div>