<div class="topic-grid">
  <!-- Topic 1 -->
  <div class="single-topic-container">
    <a href="/topics/single_topic_aiconsulting" class="single-topic-link">
      <div class="topic-item">
        <h3>ai in consulting</h3>
        <p>Using AI in consulting strategy enables firms to deliver more data-driven, precise, and personalized solutions for clients, transforming traditional approaches with predictive analytics, machine learning, and automation.</p>
      </div>
    </a>
    <a href="/bytopic/aiinconsulting" class="single-topic-resource-btn">
      <button class="topic-resource-btn">units on this topic</button>
    </a>
  </div>

  <!-- Topic 2 -->
  <div class="single-topic-container">
    <a href="/topics/single_topic_aiprojectmgmt" class="single-topic-link">
      <div class="topic-item">
        <h3>ai in project management</h3>
        <p>AI in project management revolutionizes how teams plan, execute, and monitor projects by introducing automation, predictive analytics, and intelligent decision-making tools. Twennie explores how this can work for you.</p>
      </div>
    </a>
    <a href="/bytopic/aiinprojectmanagement" class="single-topic-resource-btn">
      <button class="topic-resource-btn">units on this topic</button>
    </a>
  </div>

  <!-- Topic 3 -->
  <div class="single-topic-container">
    <a href="/topics/single_topic_ailearn" class="single-topic-link">
      <div class="topic-item">
        <h3>ai in adult learning</h3>
        <p>AI facilitates learning in many ways, but users walk a fine line between using AI as a learning tool and using it to bypass learning. This topic discusses strategies for using AI advantageously in learning environments.</p>
      </div>
    </a>
    <a href="/bytopic/aiinadultlearning" class="single-topic-resource-btn">
      <button class="topic-resource-btn">units on this topic</button>
    </a>
  </div>
</div>

