<div class="topic-grid">
  <!-- Topic 1 -->
  <div class="single-topic-container">
    <a href="/topics/single_topic_careerdev" class="single-topic-link">
      <div class="topic-item">
        <h3>career development in technical services</h3>
        <p>Careers in technical services have their own set of nuances. Twennie explores career development strategies and job market conditions.</p>
      </div>
    </a>
    <a href="/bytopic/Career Development in Technical Services" class="single-topic-resource-btn">
      <button class="topic-resource-btn">units on this topic</button>
    </a>
  </div>

  <!-- Topic 2 -->
  <div class="single-topic-container">
    <a href="/topics/single_topic_softskills" class="single-topic-link">
      <div class="topic-item">
        <h3>soft skills in technical environments</h3>
        <p>Soft skills are necessary for business development, negotiation, and working relationships. </p>
      </div>
    </a>
    <a href="/bytopic/Soft Skills in Technical Environments" class="single-topic-resource-btn">
      <button class="topic-resource-btn">units on this topic</button>
    </a>
  </div>

  <!-- Topic 3 -->
  <div class="single-topic-container">
    <a href="/topics/single_topic_projectmgmt" class="single-topic-link">
      <div class="topic-item">
        <h3>project management</h3>
        <p>Project management is a broad topic - rather than restating all the old stuff, Twennie is working on a comprehensive library of the latest thinking on the subject.</p>
      </div>
    </a>
    <a href="/bytopic/Project Management" class="single-topic-resource-btn">
      <button class="topic-resource-btn">units on this topic</button>
    </a>
  </div>
</div>


