<div class="topic-grid">
  <!-- Topic 1 -->
  <div class="single-topic-container">
    <a href="/topics/single_topic_bd" class="single-topic-link">
      <div class="topic-item">
        <h3>business development in technical services</h3>
        <p>Business development in technical consulting is a discipline all its own with a needed skill set, strategies, best practices, and industry benchmarks. </p>
      </div>
    </a>
    <a href="/bytopic/Business Development in Technical Services" class="single-topic-resource-btn">
      <button class="topic-resource-btn">resources on this topic</button>
    </a>
  </div>

  <!-- Topic 2 -->
  <div class="single-topic-container">
    <a href="/topics/single_topic_proposalmgmt" class="single-topic-link">
      <div class="topic-item">
        <h3>proposal management</h3>
        <p>Proposal management is a skill set in demand in technical services, but few project managers have access to quality training specific to their work. Twennie is building a library to meet this need.</p>
      </div>
    </a>
    <a href="/bytopic/Proposal Management" class="single-topic-resource-btn">
      <button class="topic-resource-btn">resources on this topic</button>
    </a>
  </div>

  <!-- Topic 3 -->
  <div class="single-topic-container">
    <a href="/topics/single_topic_proposalstrat" class="single-topic-link">
      <div class="topic-item">
        <h3>proposal strategy</h3>
        <p>Producing a winning proposal is perhaps one of the most important tasks in technical consulting. Twennie brings you the most relevant and detailed tools and strategies for this type of work.</p>
      </div>
    </a>
    <a href="/bytopic/Proposal Strategy" class="single-topic-resource-btn">
      <button class="topic-resource-btn">resources on this topic</button>
    </a>
  </div>
</div>

