<div class="topic-grid">
  <!-- Topic 1 -->
  <div class="single-topic-container">
    <a href="/topics/single_topic_storytelling" class="single-topic-link">
      <div class="topic-item">
        <h3>storytelling in technical services</h3>
        <p>When you want to get hired in technical services, you have to be able to tell your buyers what you’ve done and why it matters. This Twennie topic explores this elusive skill.</p>
      </div>
    </a>
    <a href="/bytopic/Storytelling in Technical Marketing" class="single-topic-resource-btn">
      <button class="topic-resource-btn">resources on this topic</button>
    </a>
  </div>

  <!-- Topic 2 -->
  <div class="single-topic-container">
    <a href="/topics/single_topic_clientex" class="single-topic-link">
      <div class="topic-item">
        <h3>client experience</h3>
        <p>If your clients have a pleasurable experience while working with you, they’ll come back again and again. This topic explores this important subject for B2B service providers.</p>
      </div>
    </a>
    <a href="/bytopic/Client Experience" class="single-topic-resource-btn">
      <button class="topic-resource-btn">resources on this topic</button>
    </a>
  </div>

  <!-- Topic 3 -->
  <div class="single-topic-container">
    <a href="/topics/single_topic_social" class="single-topic-link">
      <div class="topic-item">
        <h3>social media, advertising and other mysteries</h3>
        <p>We know that social media and advertising reach consumers. But do they reach B2B clients? How do we make sure without casting too wide (and too expensive) a net?</p>
      </div>
    </a>
    <a href="/bytopic/Social Media, Advertising, and Other Mysteries" class="single-topic-resource-btn">
      <button class="topic-resource-btn">resources on this topic</button>
    </a>
  </div>
</div>
