    <!-- Right sidebar -->
    <div class="topic-sidebar">
      <div class="sidebar-section">
                <div class="sidebar-heading" style="font-weight: 800; color:#4a4ab2; font-size: 1rem;">topic navigation</div>
        <div class="sidebar-heading">SERVICES CONSULTING</div>
        <a href="/topics/single_topic_careerdev"><div class="sidebar-item">career development in technical services</div></a>
        <a href="/topics/single_topic_softskills"><div class="sidebar-item">soft skills in technical environments</div></a>
        <a href="/topics/single_topic_projectmgmt"><div class="sidebar-item">project management</div></a>
      </div>

<div class="sidebar-section">
  <div class="sidebar-heading">BUSINESS DEVELOPMENT</div>
  <a href="/topics/single_topic_bd"><div class="sidebar-item">business development in technical services</div></a>
  <a href="/topics/single_topic_proposalmgmt"><div class="sidebar-item">proposal management</div></a>
  <a href="/topics/single_topic_proposalstrat"><div class="sidebar-item">proposal strategy</div></a>
  <a href="/topics/single_topic_findingprojects"><div class="sidebar-item">finding projects before they become RFPs</div></a>
  <a href="/topics/single_topic_uncommoditize"><div class="sidebar-item">un-commoditizing your services</div></a>
  <a href="/topics/single_topic_process"><div class="sidebar-item">designing a proposal process</div></a>
  <a href="/topics/single_topic_reviews"><div class="sidebar-item">conducting color reviews of proposals</div></a>
</div>

      <div class="sidebar-section">
        <div class="sidebar-heading">B2B SALES AND MARKETING</div>
        <a href="/topics/single_topic_storytelling"><div class="sidebar-item">storytelling in technical marketing</div></a>
        <a href="/topics/single_topic_clientex"><div class="sidebar-item">client experience</div></a>
        <a href="/topics/single_topic_socialmedia"><div class="sidebar-item">social media, advertising, and other mysteries</div></a>
        <a href="/topics/single_topic_pullmarketing"><div class="sidebar-item">pull marketing</div></a>
      </div>

      <div class="sidebar-section">
        <div class="sidebar-heading">PEOPLE MANAGEMENT</div>
        <a href="/topics/single_topic_leadership"><div class="sidebar-item">leadership in technical services</div></a>
        <a href="/topics/single_topic_remote"><div class="sidebar-item">remote and hybrid work</div></a>
        <a href="/topics/single_topic_nontechnical"><div class="sidebar-item">non-technical roles in technical environments</div></a>
        <a href="/topics/single_topic_change"><div class="sidebar-item">leading change</div></a>

      </div>

      <div class="sidebar-section">
        <div class="sidebar-heading">TECHNOLOGY</div>
        <a href="/topics/single_topic_pmsoftware"><div class="sidebar-item">project management software</div></a>
        <a href="/topics/single_topic_crm"><div class="sidebar-item">crm tools and platforms</div></a>
        <a href="/topics/single_topic_clientfeedback"><div class="sidebar-item">client feedback systems and software</div></a>
      </div>

      <div class="sidebar-section">
        <div class="sidebar-heading">WORKPLACE CULTURE</div>
        <a href="/topics/single_topic_mental"><div class="sidebar-item">mental health in consulting environments</div></a>
        <a href="/topics/single_topic_failure"><div class="sidebar-item">the advantage of failure</div></a>
        <a href="/topics/single_topic_social"><div class="sidebar-item">social entrepreneurship</div></a>
        <a href="/topics/single_topic_employeeex"><div class="sidebar-item">employee experience</div></a>
        <a href="/topics/single_topic_play"><div class="sidebar-item">the power of play in the workplace</div></a>
        <a href="/topics/single_topic_teambuilding"><div class="sidebar-item">team building in consulting</div></a>
        <a href="/topics/single_topic_emotionali"><div class="sidebar-item">emotional intelligence</div></a>
        <a href="/topics/single_topic_8020"><div class="sidebar-item">the pareto principle or 80/20</div></a>
        <a href="/topics/single_topic_peoplebefore"><div class="sidebar-item">people before profit</div></a>
      </div>

      <div class="sidebar-section">
        <div class="sidebar-heading">ARTIFICIAL INTELLIGENCE(AI)</div>
        <a href="/topics/single_topic_aiconsulting"><div class="sidebar-item">ai in consulting</div></a>
        <a href="/topics/single_topic_aiprojectmgmt"><div class="sidebar-item">ai in project management</div></a>
        <a href="/topics/single_topic_ailearn"><div class="sidebar-item">ai in learning</div></a>
      </div>

      <div class="sidebar-section">
        <div class="sidebar-heading">NEW TOPICS</div>
        <a href="/topics/single_topic_newtopic"><div class="sidebar-item">new topic</div></a>
      </div>

    </div>
  </div>
</div>


{{!-- 

This Sidebar is for Mobile.

I have initially hid the content when on desktop views, but when the viewport reaches the specified width of 1200px, an icon will appear in the single topic header, where users can click it to view all topics. The reason for this is, we don't want user's to have to scroll what feels like inifinite screen space to find what they need.

 --}}

<div class="mobile-sidebar" id="mobile-sidebar">
  <ion-icon name="close-outline" id="close-sidebar-btn"></ion-icon>
  <div class="sidebar-content">

<div class="sidebar-section">
        <div class="sidebar-heading">SERVICES CONSULTING</div>
        <a href="/topics/single_topic_careerdev"><div class="sidebar-item">career development in technical services</div></a>
        <a href="/topics/single_topic_softskills"><div class="sidebar-item">soft skills in technical environments</div></a>
        <a href="/topics/single_topic_projectmgmt"><div class="sidebar-item">project management</div></a>
      </div>

      <div class="sidebar-section">
        <div class="sidebar-heading">BUSINESS DEVELOPMENT</div>
        <a href="/topics/single_topic_bd"><div class="sidebar-item">business development in technical services</div></a>
        <a href="/topics/single_topic_proposalmgmt"><div class="sidebar-item">proposal management</div></a>
        <a href="/topics/single_topic_proposalstrat"><div class="sidebar-item">proposal strategy</div></a>
      </div>

      <div class="sidebar-section">
        <div class="sidebar-heading">B2B SALES AND MARKETING</div>
        <a href="/topics/single_topic_storytelling"><div class="sidebar-item">storytelling in technical marketing</div></a>
        <a href="/topics/single_topic_clientex"><div class="sidebar-item">client experience</div></a>
        <a href="/topics/single_topic_socialmedia"><div class="sidebar-item">social media, advertising, and other mysteries</div></a>
      </div>

      <div class="sidebar-section">
        <div class="sidebar-heading">PEOPLE MANAGEMENT</div>
        <a href="/topics/single_topic_leadership"><div class="sidebar-item">leadership in technical services</div></a>
        <a href="/topics/single_topic_remote"><div class="sidebar-item">remote and hybrid work</div></a>
        <a href="/topics/single_topic_nontechnical"><div class="sidebar-item">non-technical roles in technical environments</div></a>
      </div>

      <div class="sidebar-section">
        <div class="sidebar-heading">TECHNOLOGY</div>
        <a href="/topics/single_topic_pmsoftware"><div class="sidebar-item">project management software</div></a>
        <a href="/topics/single_topic_crm"><div class="sidebar-item">crm tools and platforms</div></a>
        <a href="/topics/single_topic_feedback"><div class="sidebar-item">client feedback systems and software</div></a>
      </div>

      <div class="sidebar-section">
        <div class="sidebar-heading">WORKPLACE CULTURE</div>
        <a href="/topics/single_topic_mental"><div class="sidebar-item">mental health in consulting environments</div></a>
        <a href="/topics/single_topic_fourday"><div class="sidebar-item">four day work week</div></a>
        <a href="/topics/single_topic_play"><div class="sidebar-item">the power of play in the workplace</div></a>
        <a href="/topics/single_topic_teambuilding"><div class="sidebar-item">team building in consulting</div></a>
        <a href="/topics/single_topic_emotionali"><div class="sidebar-item">emotional intelligence</div></a>
        <a href="/topics/single_topic_8020"><div class="sidebar-item">the pareto principle or 80/20</div></a>
        <a href="/topics/single_topic_peoplebefore"><div class="sidebar-item">people before profit</div></a>
        <a href="/topics/single_topic_failure"><div class="sidebar-item">the advantage of failure</div></a>
        <a href="/topics/single_topic_social"><div class="sidebar-item">social entrepreneurship</div></a>
        <a href="/topics/single_topic_employeeex"><div class="sidebar-item">employee experience</div></a>
      </div>

      <div class="sidebar-section">
        <div class="sidebar-heading">ARTIFICIAL INTELLIGENCE(AI)</div>
        <a href="/topics/single_topic_aiconsulting"><div class="sidebar-item">ai in consulting</div></a>
        <a href="/topics/single_topic_aiprojectmgmt"><div class="sidebar-item">ai in project management</div></a>
        <a href="/topics/single_topic_ailearn"><div class="sidebar-item">ai in learning</div></a>
      </div>

      <div class="sidebar-section">
        <div class="sidebar-heading">NEW TOPICS</div>
        <a href="/topics/single_topic_newtopic"><div class="sidebar-item">new topic</div></a>
      </div>
    
  </div>
</div>