{{#*inline "title"}}MFA Disabled | Twennie{{/inline}}
<div class="success-container">
  <h1 class="success-title">MFA has been disabled</h1>
  <a href="{{dashboard}}" class="success-button">return to my dashboard</a>
</div>