{{#*inline "title"}}MFA Disabled | Twennie{{/inline}}

<div class="mfa-container">
  <h1 class="mfa-title">MFA has been disabled</h1>

  <div class="mfa-actions">
    <a href="{{dashboard}}" class="mfa-button">return to my dashboard</a>
    <a href="{{baseUrl}}" class="mfa-button mfa-button--secondary">manage mfa settings</a>
  </div>
</div>
