{{#*inline "title"}}Topic Suggestion Submitted | Twennie{{/inline}}

<div class="success-container">
  <h1 class="success-title">thank you for your suggestion!</h1>
  <p class="success-message">
    Your topic suggestion has been successfully submitted. Our team will review it and be in touch if we have any questions.
  </p>
  <a href="/library" class="success-button">return to the library</a>
</div>