<div class="error-container">
    <h1 class="error-title">Our sincerest apologies.</h1>
    <p class="error-message">
        Something has gone wrong with this form. Please contact Twennie at info@twennie.com for help.
    </p>

    <a href="javascript:history.back()" class="error-button">go back</a>
</div>