<div class="membership-form-container">
  <h1 class="form-title">become a member</h1>

  <div class="membership-buttons" style="margin-bottom: 200px">
    <a href="/member/free-form" class="membership-button">free</a>
    <a href="/member/form" class="membership-button">individual</a>
    <a href="/leader/form" class="membership-button">group leader</a>
    <a href="/member/group/verify" class="membership-button">group member</a>
  </div>
</div>
