<div class="howtoexercise-video" style="text-align: center;">
  <video 
    width="500" 
    controls 
    playsinline 
    preload="metadata" 
    poster="https://www.twennie.com/images/exercisevideo.png" 
    style="border-radius: 10px; box-shadow: 0 4px 12px rgba(0,0,0,0.1);">
    
    <source src="https://res.cloudinary.com/dgeszflt3/video/upload/v1744393393/Exercise._npjji4.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
