<footer class="custom-footer">
    {{!-- <div class="footer-bg">
        <!-- Placeholder for SVG background, replace with actual SVG code -->
           <svg id="Layer_2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1232.97 112.15">
            <defs>
                <style>
                .cls-222 {
                    fill: #3c2415;
                    opacity: .46;
                }
                </style>
            </defs>
            <g id="Layer_2-2" data-name="Layer_2">
                <path class="cls-222" d="M1232.97,112.15v-56.07S935.16-24.12,586.26,29.11C237.36,82.34,0,0,0,0v112.15h1232.97Z"/>
            </g>
            </svg>
    </div> --}}
    
    <div class="footer-tabs">


        <a href="custom_services" class="footer-tab" title="Custom Learning Design">
            <img src="https://www.twennie.com/icons/customicon.svg" alt="Custom Learning Design">
        </a>
        <a href="https://www.youtube.com/@Twennie-learn" class="footer-tab" title="YouTube">
            <img src="https://www.twennie.com/icons/youtubeicon.svg" alt="YouTube">
        </a>
        <a href="/privacypolicy" class="footer-tab" title="Privacy">
            <img src="https://www.twennie.com/icons/privacyicon.svg" alt="Privacy">
        </a>
        <a href="/termsconditions" class="footer-tab" title="Terms & Conditions">
            <img src="https://www.twennie.com/icons/termsicon.svg" alt="Terms & Conditions">
        </a>
        <a href="/about_twennie" class="footer-tab" title="About Twennie">
            <img src="https://www.twennie.com/icons/abouticon.svg" alt="About Twennie">
        </a>
    </div>
</footer>

{{!-- Static Footer to provide informational links to all pages on mobile. --}}

    {{!-- <ul>
        <li>
            <a href="/about_twennie" title="Email">About</a>
        </li>

        <li>
            <a href="/about_twennie" title="Phone">Contact</a>
        </li>

        <li>
            <a href="#" title="Tech Support">Tech Support</a>
        </li>

        <li>
            <a href="/privacypolicy" title="Privacy">Privacy Policy</a>
        </li>

        <li>
            <a href="/facilitation" title="Facilitation">Facilitation</a>
        </li>

        <li>
            <a href="/customservices" title="Custom Learning Design">Services</a>
        </li>

        <li>
            <a href="#" title="Youtube">Youtube</a>
        </li>
        <li>
            <a href="/termsconditions" title="Terms & Conditions">Terms &amp; Conditions</a>
        </li>
    </ul> --}}

