<div class="membership-access-guide-container">
  <h2 class="membership-access-title">GROUP MEMBERSHIP ACCESS GUIDE</h2>
  <div class="membership-access-subtitle">
    <span class="access-icon"></span> FULL ACCESS
    <span class="tempaccess-icon"></span> 1 WEEK POST LAUNCH ACCESS
  </div>
  
  <div class="membership-access-table">
    <div class="membership-access-row header-row">
      <div class="membership-access-item"></div>
      <div class="membership-access-header">Free Group</div>
      <div class="membership-access-header">Free Group Contributor</div>
      <div class="membership-access-header">Full Group</div>
      <div class="membership-access-header">Full Group Contributor</div>
    </div>

    <!-- Matrix Rows -->
    <div class="membership-access-row">
      <div class="membership-access-item">Articles</div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
    </div>
    <div class="membership-access-row">
      <div class="membership-access-item">Videos</div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
    </div>
    <div class="membership-access-row">
      <div class="membership-access-item">Interviews</div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
    </div>
    <div class="membership-access-row">
      <div class="membership-access-item">Prompts</div>
      <div class="membership-access-cell"><span class="tempaccess-icon"></span></div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
    </div>
    <div class="membership-access-row">
      <div class="membership-access-item">Exercises</div>
      <div class="membership-access-cell"><span class="tempaccess-icon"></span></div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
    </div>
    <div class="membership-access-row">
      <div class="membership-access-item">Templates</div>
      <div class="membership-access-cell"><span class="tempaccess-icon"></span></div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
    </div>
    <div class="membership-access-row">
      <div class="membership-access-item">Micro-Courses</div>
      <div class="membership-access-cell"><span class="noaccess-icon"></span></div>
      <div class="membership-access-cell"><span class="tempaccess-icon"></span></div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
    </div>
    <div class="membership-access-row">
      <div class="membership-access-item">Micro-Studies</div>
      <div class="membership-access-cell"><span class="noaccess-icon"></span></div>
      <div class="membership-access-cell"><span class="tempaccess-icon"></span></div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
    </div>
    <div class="membership-access-row">
      <div class="membership-access-item">Coaching</div>
      <div class="membership-access-cell"><span class="noaccess-icon"></span></div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
    </div>
    <div class="membership-access-row">
      <div class="membership-access-item">Facilitation</div>
      <div class="membership-access-cell"><span class="noaccess-icon"></span></div>
      <div class="membership-access-cell"><span class="noaccess-icon"></span></div>
      <div class="membership-access-cell"><span class="noaccess-icon"></span></div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
    </div>
    <div class="membership-access-row">
      <div class="membership-access-item">Group Services</div>
      <div class="membership-access-cell"><span class="noaccess-icon"></span></div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
      <div class="membership-access-cell"><span class="access-icon"></span></div>
    </div>
  </div>
</div>