<div class="latestpartial3-container">
  <div class="latestpartial3-grid">
    <!-- Left Grid Area -->
    <div class="latestpartial3-left">
      <img src="/images/meetings.png" alt="Video Meetings" class="latestpartial-image">
      <button class="latestpartial3-button">more videos</button>
    </div>

    <!-- Right Grid Area -->
    <div class="latestpartial3-right">
      <div class="latestpartial3-title">Meetings Were Killing Us - A Team’s Video Testimonial About How They Changed The Way They Did Meetings</div>
      <p class="latestpartial3-paragraph">
        A Twennie group tells the Twennie community how they changed how they conduct meetings and the astonishing results.
      </p>
      <div class="latestpartial3-highlights">
        <p><strong>HIGHLIGHTS</strong></p>
        <ul>
          <li>Why Most Meetings Are a Waste of Time</li>
          <li>Purpose, Purpose, Purpose - How a Purpose-Driven Mindset Makes All the Difference</li>
          <li>What We Learned From Having Fewer, Better Meetings</li>
        </ul>
        <p>
          This video describes the steps one technical team took to make their meetings take less time but get more things accomplished. They tracked their results and produced a micro-study exclusively for Twennie’s network!
        </p>
      </div>
    </div>
  </div>
</div>