<div class="latestpartial2-container">
  <div class="latestpartial2-grid">
    <!-- Left Grid Area -->
    <div class="latestpartial2-left">
      <img src="/images/prompt_1.png" alt="Prompt Image" class="latestpartial2-image">
      <button class="latestpartial2-button">what is a prompt?</button>
    </div>

    <!-- Right Grid Area -->
    <div class="latestpartial2-right">
      <div class="latestpartial2-title">An Exciting New Prompt-Set for Cross-Selling In a Multi-Disciplinary Environment</div>
      <p class="latestpartial2-paragraph">
        A Twennie team manager has created a new prompt set for his Twennie group focused on encouraging cross-selling.
      </p>
      <div class="latestpartial2-highlights">
        <p><strong>HIGHLIGHTS</strong></p>
        <ul>
          <li>How Silos Form and Why Cross-Selling Shakes Them Up</li>
          <li>Why Teams Under the Same Brand Do Things Differently</li>
          <li>What We Learned From Cross-Selling More Purposefully</li>
        </ul>
        <p>
          This new prompt set is available to all Twennie members for a limited time. After that, it will only be open to paying and/or contributing members.
        </p>
        <blockquote>
          “If you are registered for business development prompts, you will want to add this set. It is a unique way of de-siloing multi-disciplinary teams that develop in isolation from one another. You wouldn’t believe how much we learned about work being done in our own company just by following this prompt set for a month!”<br>- Twennie Member
        </blockquote>
      </div>
    </div>
  </div>
</div>