<div class="howtoprompt-video" style="text-align: center;">
  <div style="display: inline-block;">
    <video width="500" controls poster="https://www.twennie.com/images/promptsetvideo.png">
      <source src="https://res.cloudinary.com/dgeszflt3/video/upload/v1744390909/PromptSets_ehxy0n.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <p style="text-align: center; margin-top: 0.75rem;">
      This video provides essential guidance on how to write prompts and create a full set of 20 using this form. Don't miss it!
    </p>
  </div>
</div>
