<div class="howtotemplate-video">
  <video width="500" controls poster="https://www.twennie.com/images/templatevideo.png">
    <source src="https://res.cloudinary.com/dgeszflt3/video/upload/v1744391551/Templates._xgn7v0.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>