<div class="value-fullgroup-container">
  <div class="value-fullgroup-grid">

    <!-- Left Grid Area with Video -->
    <div class="value-fullgroup-left">
<video class="membership-image" controls playsinline style="border-radius: 10px; box-shadow: 0 4px 12px rgba(0,0,0,0.1);">

        <source src="https://res.cloudinary.com/dgeszflt3/video/upload/v1746973268/Group_Memberships_cmluwa.mp4" type="video/mp4" style="border-radius: 10px; box-shadow: 0 4px 12px rgba(0,0,0,0.1);">
        Your browser does not support the video tag.
      </video>
      <a href="/member/choose" class="value-fullgroup-button" style="text-decoration: none; margin-bottom: 100px">become a twennie group</a>
    </div>

    <!-- Right Grid Area -->
    <div class="value-fullgroup-right">
      <div class="value-fullgroup-title">The Value of a Full Group Membership</div>
      <p class="value-fullgroup-paragraph">
        <b>You are in a competitive business. </b>Training can’t gobble up your team’s time for days on end. Expensive travel is no longer an option and generic courses don’t cut it. And more every day, your team is under pressure to develop skills relevant to their work in your organization. Their futures depend on it. Of course, time is in short supply. They have deadlines to meet and families at home.
      </p>
      <p class="value-fullgroup-paragraph">
        Give them access to a resource specific to your industry that understands the time constraints in a technical consulting environment. With a Twennie group membership, your team can learn as they go. In high-value bursts of as little as 10 minutes, your team can discover powerful techniques for working more efficiently and building stronger relationships.
      </p>
    </div>

  </div>
</div>
