<div class="value-groupcontributor-container">
  <div class="value-groupcontributor-grid">
    <!-- Left Grid Area -->
    <div class="value-groupcontributor-left">
      <img src="https://www.twennie.com/images/valuegroupcont.png" alt="Group Contributor Membership Image" class="membership-image">
    </div>

    <!-- Right Grid Area -->
    <div class="value-groupcontributor-right">
      <div class="value-groupcontributor-title">The Value of a Group Contributor Membership</div>
      <p class="value-groupcontributor-paragraph">
        If you have members in your group willing to contribute content to the Twennie library, groups as large as 30 can join for free. Your group can access Twennie for a full year while they contribute Twennie units to the library. A unit might be:
      </p>
      <div class="value-groupcontributor-highlights">
        <ul>
          <li>An article</li>
          <li>An educational video</li>
          <li>A learning or writing template</li>
          <li>A micro-course</li>
          <li>Peer coaching</li>
          <li>A micro-study</li>
          <li>An interview and/or</li>
          <li>An exercise</li>
        </ul>
      </div>
      <p class="value-groupcontributor-paragraph">
        The wide range of topics available at Twennie make it so your team has a variety of options for contributing content. They never have to provide sensitive or competitive content.
      </p>
    </div>
  </div>
</div>