<div class="value-single-contributor-container">
  <div class="value-single-contributor-grid" style="margin-top: 50px">

    <!-- Left Grid Area with Video -->
<video class="membership-image" controls playsinline style="border-radius: 10px; box-shadow: 0 4px 12px rgba(0,0,0,0.1);">
  <source src="https://res.cloudinary.com/dgeszflt3/video/upload/v1744390708/Membership_h7z75p.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

    <!-- Right Grid Area -->
    <div class="value-single-contributor-right">
      <div class="value-single-contributor-title">Individual Memberships</div>
      <p class="value-single-contributor-paragraph">
        Business development, networking, mentoring, negotiation, leadership, emotional intelligence, and team building skills are essential to your work as a technical professional or as a non-technical professional in a technical environment.
      </p>
      <div class="value-single-contributor-highlights">
        <p><strong>BENEFITS</strong></p>
        <ul>
          <li>Twennie provides fast-tracked learning relevant to your future.</li>
          <li>Prompt sets help you put learning into action and learn by doing.</li>
          <li>Create an online record and testimonial in your profile to share with prospective employers.</li>
        </ul>

      </div>
    </div>

  </div>
</div>

