<div class="whatiscollab-container">
<svg class="whatiscollab-bg" id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2324.65 591.82">
  <defs>
    <style>
      .cls-999 {
        fill: #4e50a2;
      }
    </style>
  </defs>
  <g id="Layer_1-2" data-name="Layer 1">
    <path class="cls-999" d="M.63,521.02s347.02,82.93,1110.68,0c674.68-73.27,1173.34,59.71,1213.34,70.81V92.72c-40-11.1-538.66-144.07-1213.34-70.81C347.64,104.85.63,21.92.63,21.92v148.8h-.63"/>
  </g>
</svg>
  <div class="whatiscollab-content">
    <h1 class="whatiscollab-title">WHAT IS COLLABORATIVE LEARNING?</h1>
    <h2 class="whatiscollab-subtitle">
      A collaborative learning tool like Twennie can be exactly what a traditional learning and development program needs to achieve its objectives.
    </h2>
    <p class="whatiscollab-text">
      Collaborating learners work in a setting that more closely resembles a workplace...where cooperation is vital. Collaborative learning actively involves learners in a team-based process, helping them engage more sincerely with the material and with each other. Collaborating learners solve problems, discuss concepts, and share knowledge, all of which can foster critical thinking, communication skills, and learning retention.
    </p>
  </div>
</div>



