{{#*inline "title"}}Diversity and Inclusion in Consulting | Twennie{{/inline}}
<div class="topic-page-wrapper">
  <div class="topic-main-area">
    <div class="topic-header">

      {{!-- Left Side of Topic Header --}}
      <div>
        <h1 class="topic-title">Diversity and Inclusion in Consulting</h1>
        <a href="/bytopic/Diversity and Inclusion in Consulting" class="single-topic-resource-btn">
          <button class="topic-resource-btn">TWENNIE'S RESOURCES ON THIS TOPIC</button>
        </a>
      </div>
      
      <!-- Mobile Sidebar Toggle Button (Right Side of Topic Header) -->
      <div class="more-topics">
        <p>More Topics</p>
        <ion-icon name="newspaper-outline" id="mobile-sidebar-btn"></ion-icon>
      </div>

    </div>

    <!-- Subtopics Partial -->
    {{> topicpartials/diversity_topic }}


  </div>

  {{> topicpartials/topics_column_partial}}
</div>