<!-- Sample Static Video View for Promotional Use -->
{{#*inline "title"}}Sample Video | Twennie{{/inline}}
<div class="single_video-container">
  <!-- Main Section -->
  <div class="single_video-main">
    <h1 class="single_video-main-title">SAMPLE VIDEO: Rapid Fire Methodology Storyboarding</h1>
    <p class="single_video-short-summary"><strong>This video introduces Twennie’s Rapid Fire Methodology — a planning exercise that jumpstarts your methodology writing process. It is 7 minutes long and worth every second.</strong></p>
    <p class="single_video-long-summary">
      Rapid Fire Methodology Storyboarding brings proposal contributors together for a focused session in which, in just 2 to 3 hours, you’ll generate all the content needed to build a strong work plan — content that normally takes days or weeks to collect. You can also extend this exercise to storyboard your entire proposal. This video focuses on the work plan portion and uses recognized best practices for proposal strategy, while throwing in some helpful hints for running an effective storyboarding session. Look for related units on this exercise under the topic, Proposal Management.
    </p>

    <!-- Video Embed -->
    <div class="single_video-window">
      <video width="700" controls poster="https://www.twennie.com/images/rapidfirevideo.png" class="single_video-placeholder">
        <source src="https://res.cloudinary.com/dgeszflt3/video/upload/v1746118038/Rapid_Fire_Methodology_iau9gn.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>

  <!-- Sidebar -->
  <aside class="single_video-sidebar">
    <div class="single_video-duration-image-container">
      <img src="https://www.twennie.com/images/10mins.svg" alt="Estimated Time: 10 Minutes" class="single_video-duration-image" style="width: 100px">
    </div>

    <p class="single_video-title-sidebar">Rapid Fire Methodology Storyboarding</p>

    <div class="single_video-author">
      <img src="/images/author-article.jpeg" alt="Author Image" class="single_video-author-image">
      <p class="single_video-author-name">Videographer: Twennie Founders</p>
    </div>

    <div class="single_video-details">
      <p class="single_video-unit-type">Video</p>
      <p class="single_video-main-topic">Main Topic: Proposal Management</p>

    </div>
  </aside>
</div>
