<!-- Sample Static Exercise View for Promotional Use -->
{{#*inline "title"}}Sample Exercise | Twennie{{/inline}}
<div class="single_exercise-container">
  <!-- Main Section -->
  <div class="single_exercise-main">
    <h1 class="single_exercise-main-title">SAMPLE EXERCISE: 10 Steps to a Win Theme</h1>
    <p class="single_exercise-short-summary">
      <strong>Since its publication in 2010, Ten Steps to a Win Theme has helped proposal teams across a wide range of technical disciplines craft stronger, more successful submissions. Take a look! You won't regret it!</strong>
    </p>
    <p class="single_exercise-long-summary">
      A good win theme facilitates a decision-making process in the client’s mind. That decision might be to entrust you with a project that could define their career. It might involve working side-by-side with your project manager for two years or inviting your team into their office space for six months. Whatever the case, the client is making a high-stakes choice and your job is to help them feel confident in it. This 10 step process helps you do it comprehensively and persuasively.
    </p>

    <div class="single_exercise-image">
      <img src="/images/sampleexercise.png" alt="Sample Exercise Image">
    </div>

    <div class="exercise-download">

    </div>
  </div>

  <!-- Sidebar -->
  <aside class="single_exercise-sidebar">
    <div class="single_exercise-duration-image-container">
      <img src="/images/30mins.svg" alt="Estimated Time: 90 Minutes" class="single_exercise-duration-image" style="width: 100px">
    </div>

    <div class="single_exercise-image-container">
      <img src="/icons/exercise.svg" alt="Exercise Image" class="single_exercise-sidebar-image">
    </div>

    <p class="single_exercise-title-sidebar">10 Steps to a Win Theme</p>

    <div class="single_exercise-author">
      <img src="/images/author-article.jpeg" alt="Author" class="single_exercise-author-image">
      <p class="single_exercise-author-name">Author: Michele Rochon-Wood</p>
    </div>

    <div class="single_exercise-details">
      <p class="single_exercise-unit-type">Exercise</p>
      <p class="single_exercise-main-topic">Main Topic: Proposal Strategy</p>
    </div>
  </aside>
</div>
