<!-- Sample Static Template View for Promotional Use -->
{{#*inline "title"}}Sample Template | Twennie{{/inline}}
<div class="single_template-container">
  <!-- Main Section -->
  <div class="single_template-main">
    <h1 class="single_template-main-title">SAMPLE TEMPLATE: Pink Team Review Template Form</h1>
    <p class="single_template-short-summary">
      <strong>A Pink Team Review is an impartial review of a proposal storyboard produced during a Rapid Fire Methodology Storyboard or other storyboarding exercise. The goal is to improve the content and approach before any writing gets done.</strong>
    </p>
    <p class="single_template-long-summary">
      A storyboard is a medium for outlining and planning a proposal. During a collaborative online or in-person exercise, proposal writers review a list of scope items on the storyboard. To each item they add key issues, tasks, and deliverables until all scope items are addressed. The Pink Team is a group of professionals in your organization who were not present during the exercise. They review this storyboard for its competitive potential before the document is written. Their input can provide valuable insight before a lot of work is done, and can be managed using this form.
    </p>

    <div class="single_template-image">
      <img src="/images/sampletemplate.png" alt="Sample Template Image">
    </div>

    <div class="template-download">

    </div>
  </div>

  <!-- Sidebar -->
  <aside class="single_template-sidebar">
    <div class="single_template-duration-image-container">
      <img src="/images/30mins.svg" alt="Estimated Time: 30 Minutes" class="single_template-duration-image" style="width: 100px">
    </div>

    <div class="single_template-image-container">
      <img src="/icons/template.svg" alt="Template Icon" class="single_template-sidebar-image">
    </div>

    <p class="single_template-title-sidebar">Pink Team Review Template Form</p>

    <div class="single_template-author">
      <img src="/images/author-article.jpeg" alt="Author" class="single_template-author-image">
      <p class="single_template-author-name">Author: Michele Rochon-Wood</p>
    </div>

    <div class="single_template-details">
      <p class="single_template-unit-type">Template</p>
      <p class="single_template-main-topic">Main Topic: Proposal Management</p>
    </div>
  </aside>
</div>
