<section class="prompts-section">
  <h2 class="dashboard-titles">this week's prompt</h2>
  <div class="promptspartial-card-container">
    <div class="promptspartial-card">
<?xml version="1.0" encoding="UTF-8"?>
<svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 864.79 189.32">
  <defs>
    <style>
      .cls-777 {
        fill: #4e50a2;
      }
    </style>
  </defs>
  <g id="Layer_2-2" data-name="Layer 2">
    <g>
      <path class="cls-777" d="M133.7,58.24C129.9,25.42,108.03,2.53,0,.98l.79,184.8s117.49-21.25,133.85-17.32v-56.33h-47.79s50.64-21.07,46.84-53.89Z"/>
      <path class="cls-777" d="M406.89,69.83c-4.4,0-6.82,3.6-7.25,10.81h14.29c0-7.2-2.35-10.81-7.04-10.81Z"/>
      <path class="cls-777" d="M241.71.03s-103.97-3.95-103.97,78.35c0,96.47,187.15,105.4,297.6,82.94,141.18-28.71,188.47-49.91,282.35-39.37,100.55,11.29,146.16,67.37,146.16,67.37L864.79.03H241.71ZM210.57,105.81c-2.27.49-4.37.73-6.31.73-3.16,0-5.57-.61-7.25-1.84-1.67-1.23-2.74-2.89-3.2-5-.46-2.1-.69-5.32-.69-9.63v-18.62h-5.3v-6.8h5.55l.45-10.65,7.61-.73v11.37h7.81v6.8h-7.81v18.03c0,3.18.08,5.29.24,6.32.16,1.04.65,1.89,1.46,2.55.81.66,2.16.99,4.05.99,1,0,2.13-.09,3.4-.28v6.75ZM246.54,105.53h-7.17l-6.19-28.33-5.91,28.33h-7.17l-10.26-40.88h8.31l6.08,28.09,5.87-28.09h7.41l5.83,28.25,6.49-28.25h6.85l-10.13,40.88ZM270.33,97.38c1.49,1.84,3.37,2.77,5.63,2.77,3.77,0,6.15-2.53,7.14-7.61l7.73,1.01c-2.02,8.66-7.07,12.99-15.14,12.99-4.94,0-8.88-1.77-11.82-5.3-2.94-3.53-4.41-8.72-4.41-15.54s1.48-12.44,4.45-16.27c2.97-3.83,6.93-5.75,11.9-5.75,3.48,0,6.41.96,8.78,2.87,2.37,1.92,4.05,4.43,5.02,7.55.97,3.12,1.5,7.2,1.58,12.24h-23.11c0,5.52.75,9.2,2.24,11.04ZM326.66,105.53h-8.42v-25.88c0-3.56-.31-5.98-.93-7.26-.62-1.28-1.95-1.92-3.98-1.92s-3.76.81-4.94,2.45c-1.18,1.63-1.77,4.87-1.77,9.72v22.89h-8.42v-40.88h7.77v6.31c1.89-4.86,5.27-7.29,10.14-7.29,2.76,0,4.98.66,6.67,1.98,1.69,1.32,2.76,2.91,3.21,4.76.45,1.85.67,4.77.67,8.76v26.35ZM364.79,105.53h-8.42v-25.88c0-3.56-.31-5.98-.93-7.26-.62-1.28-1.95-1.92-3.98-1.92s-3.76.81-4.94,2.45c-1.18,1.63-1.77,4.87-1.77,9.72v22.89h-8.42v-40.88h7.77v6.31c1.89-4.86,5.27-7.29,10.14-7.29,2.76,0,4.98.66,6.67,1.98,1.69,1.32,2.76,2.91,3.21,4.76.45,1.85.67,4.77.67,8.76v26.35ZM382.89,105.53h-8.42v-40.88h8.42v40.88ZM383.13,59.14h-8.86v-8.95h8.86v8.95ZM401.68,97.38c1.49,1.84,3.37,2.77,5.63,2.77,3.77,0,6.15-2.53,7.14-7.61l7.73,1.01c-2.02,8.66-7.07,12.99-15.14,12.99-4.94,0-8.88-1.77-11.82-5.3-2.94-3.53-4.41-8.72-4.41-15.54s1.48-12.44,4.45-16.27c2.97-3.83,6.93-5.75,11.9-5.75,3.48,0,6.41.96,8.78,2.87,2.37,1.92,4.05,4.43,5.02,7.55.97,3.12,1.5,7.2,1.58,12.24h-23.11c0,5.52.75,9.2,2.24,11.04Z"/>
      <path class="cls-777" d="M275.54,69.83c-4.4,0-6.82,3.6-7.25,10.81h14.29c0-7.2-2.35-10.81-7.04-10.81Z"/>
    </g>
  </g>
</svg>
      <p class="promptspartial-card-text">
        Sometimes a project manager has accountability for results, but no formal authority over the people expected to produce those results, which presents risks to task completion. In this case, the most important skill becomes "influence". Think about how people have influenced you. What was most effective? How could you translate that to practices as an influential project manager? If you have formal authority over people, how could you add some of the "influence" to the equation so that people do the work because they've been influenced rather than because they've been told?
      </p>
    </div>
  </div>
  <textarea 
    class="prompt-notes" 
    placeholder="Add your notes on this prompt..."></textarea>
  <button class="submit-prompt-btn">submit this prompt</button>
</section>
