<section class="contribution-section">
    <div class="contribution-container">
          <!-- Centered Image -->
    <div style="text-align: center; margin-bottom: -20px; margin-top: -40px;">
      <img src="/images/blueyteacher.png" alt="Bluey Teacher" style="max-width: 200px;">
    </div>

    <!-- Main Title -->
    <h2 class="dashboard-titles" style="text-align: center;">
      add a unit to the library
    </h2>

    <!-- Subtitle -->
    <p class="contribution-subtitle" style="text-align: center; font-weight: 500; margin-top: -10px;">
      learn by unleashing your inner teacher
    </p>
        <p class="contributor-benefits">Are you a writer? A coach? A videographer? A trainer? Twennie enables you to develop these skills, practice, and share learning with other professionals.</p>
        <button id="toggleContribute" class="contribute-btn">I want to contribute to the library</button>
        
        <div id="contributionGrid" class="contribution-grid" style="display: none;">


<a href="/unitform/form_article" class="unit-card">
    <div class="svg-container" style="padding-top: 3px;"><svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 187.35 233.93">
  <defs>
    <style>
      .cls-1 {
        fill: #4e50a2;
      }

      .cls-2 {
        fill: #58595b;
        opacity: .25;
      }

      .cls-3 {
        fill: #fff;
      }

      .cls-4 {
        fill: #acadb0;
      }

      .cls-5 {
        fill: #262262;
      }

      .cls-6 {
        fill: #6d6e71;
      }

      .cls-7 {
        fill: #c2b59b;
      }
    </style>
  </defs>
  <g id="Layer_1-2" data-name="Layer 1">
    <g>
      <path class="cls-1" d="M12.33,233.93c-3.91,0-6.95-.87-9.1-2.61-2.15-1.74-3.23-4.2-3.23-7.37,0-3.48,1.16-6.1,3.49-7.86,2.33-1.76,5.6-2.64,9.82-2.64h8.28v6.39h-5.28c-2.83,0-4.78.34-5.87,1.01-1.09.68-1.63,1.62-1.63,2.84,0,.96.44,1.71,1.31,2.25.87.54,2.09.82,3.65.82,1.43,0,2.71-.34,3.82-1.01,1.11-.67,1.99-1.54,2.64-2.61.65-1.07.98-2.17.98-3.3h2.09c0,4.44-.84,7.89-2.51,10.37-1.67,2.48-4.49,3.72-8.45,3.72ZM21.46,233.14l-.26-6.59v-9.92c0-1.96-.2-3.63-.62-5.02-.41-1.39-1.07-2.47-1.96-3.23-.89-.76-2.1-1.14-3.62-1.14-1.39,0-2.65.31-3.79.91-1.13.61-2.09,1.54-2.87,2.81l-7.57-2.61c.61-1.39,1.5-2.75,2.68-4.08,1.17-1.32,2.71-2.41,4.6-3.26,1.89-.85,4.21-1.27,6.95-1.27,3.3,0,6.05.63,8.25,1.9,2.2,1.26,3.83,3.03,4.89,5.31,1.06,2.28,1.57,4.99,1.53,8.12l-.19,18.07h-8.02Z"/>
      <path class="cls-1" d="M36.53,233.14v-32.62h8.61v32.62h-8.61ZM42.6,215.99c0-3.53.68-6.43,2.06-8.74,1.37-2.3,3.13-4.02,5.28-5.15s4.4-1.7,6.75-1.7v8.35c-2,0-3.88.24-5.64.72s-3.19,1.26-4.27,2.35c-1.09,1.08-1.63,2.48-1.63,4.17h-2.55Z"/>
      <path class="cls-1" d="M58.45,207.83v-7.31h22.05v7.31h-22.05ZM74.69,233.93c-3.61,0-6.34-.89-8.19-2.68-1.85-1.78-2.77-4.33-2.77-7.63v-33.27h8.61v31.38c0,1.4.3,2.45.91,3.16.61.72,1.5,1.08,2.67,1.08.44,0,.91-.1,1.44-.29s1.06-.49,1.63-.88l3,6.46c-1.04.79-2.21,1.43-3.49,1.93-1.28.5-2.56.75-3.82.75Z"/>
      <path class="cls-1" d="M92.31,195.24c-1.3,0-2.46-.49-3.46-1.47s-1.5-2.14-1.5-3.49.5-2.52,1.5-3.49,2.15-1.47,3.46-1.47,2.51.49,3.49,1.47c.98.98,1.47,2.14,1.47,3.49s-.49,2.51-1.47,3.49c-.98.98-2.14,1.47-3.49,1.47ZM88,233.14v-32.62h8.61v32.62h-8.61Z"/>
      <path class="cls-1" d="M120.29,233.93c-3.39,0-6.42-.73-9.07-2.18-2.65-1.46-4.72-3.48-6.2-6.07-1.48-2.59-2.22-5.54-2.22-8.84s.74-6.31,2.22-8.87c1.48-2.57,3.52-4.58,6.13-6.04,2.61-1.45,5.61-2.19,9-2.19s6.24.81,8.94,2.42c2.7,1.61,4.65,3.93,5.87,6.98l-8.09,2.87c-.61-1.26-1.56-2.27-2.84-3.03-1.28-.76-2.71-1.14-4.27-1.14s-3.02.38-4.24,1.14c-1.22.76-2.18,1.82-2.87,3.16-.7,1.35-1.04,2.91-1.04,4.7s.35,3.34,1.04,4.66c.7,1.33,1.67,2.38,2.94,3.16,1.26.79,2.7,1.17,4.31,1.17s2.99-.41,4.27-1.24c1.28-.82,2.23-1.91,2.84-3.26l8.15,2.87c-1.26,3.09-3.23,5.48-5.9,7.18-2.68,1.69-5.66,2.54-8.97,2.54Z"/>
      <path class="cls-1" d="M140.19,233.14v-45.67h8.61v45.67h-8.61Z"/>
      <path class="cls-1" d="M170.98,233.93c-3.22,0-6.07-.73-8.54-2.18-2.48-1.46-4.43-3.47-5.84-6.04-1.41-2.56-2.12-5.52-2.12-8.87s.73-6.31,2.19-8.87c1.45-2.57,3.46-4.58,6-6.04,2.54-1.45,5.47-2.19,8.77-2.19,2.87,0,5.51.75,7.93,2.25,2.41,1.5,4.35,3.7,5.81,6.59,1.46,2.89,2.19,6.41,2.19,10.54h-24.73l.78-.79c0,1.61.4,3.02,1.21,4.21.8,1.19,1.85,2.11,3.13,2.74,1.28.63,2.67.94,4.14.94,1.78,0,3.24-.38,4.37-1.14,1.13-.76,2-1.75,2.61-2.97l7.7,3c-.91,1.83-2.1,3.4-3.56,4.73-1.46,1.33-3.19,2.34-5.19,3.04-2,.7-4.28,1.04-6.85,1.04ZM163.87,213.51l-.78-.78h15.72l-.72.78c0-1.57-.37-2.81-1.11-3.75-.74-.94-1.64-1.62-2.71-2.06-1.07-.43-2.1-.65-3.1-.65s-2.07.22-3.2.65c-1.13.44-2.1,1.12-2.9,2.06-.8.93-1.21,2.18-1.21,3.75Z"/>
    </g>
    <polygon class="cls-3" points="60.4 10.96 60.4 150.62 155.59 150.62 155.59 33.82 131.7 10.96 60.4 10.96"/>
    <path class="cls-3" d="M32.67,11.82s15.44-26.58,28.18,0v139.29s-15.68-26.71-28.18,1.47V11.82Z"/>
    <path class="cls-3" d="M143.89,161.03v-5.88H43.15s-11.07-3.86-11.07-6.62c0,0-.55,10.47,9.59,12.5h102.22Z"/>
    <path class="cls-6" d="M144.34,158.64H45.29s-8.64-.74-12.5-7.35c-3.86-6.62,8.74-13.15,14.33-12.86,6,.31,13.78,3.87,14.88,9.93l-.18,2.75,82.51-.18v7.72Z"/>
    <rect class="cls-5" x="67.1" y="22.79" width="63.77" height="10.69"/>
    <path class="cls-2" d="M49.27.03s10.47,4.44,10.66,11.79l.92,139.48s-2.21-11.03-11.58-11.39V.03Z"/>
    <path class="cls-4" d="M32.67,123.01s14.88-11.39,21.68-4.78v-5.88s-10.11-6.8-21.68,5.33v5.33Z"/>
    <path class="cls-4" d="M32.67,108.31s14.6-11.39,21.27-4.78v-5.88s-9.92-6.8-21.27,5.33v5.33Z"/>
    <path class="cls-4" d="M32.67,93.61s14.88-11.39,21.68-4.78v-5.88s-10.11-6.8-21.68,5.33v5.33Z"/>
    <path class="cls-4" d="M32.67,28.22s14.6-11.39,21.27-4.78v-5.88s-9.92-6.8-21.27,5.33v5.33Z"/>
    <path class="cls-7" d="M32.67,73.59v-37.86s9.01-12.16,21.27-5.34v37.32s-4.69-7.53-21.27,5.88Z"/>
    <rect class="cls-4" x="67.1" y="42.56" width="38.23" height="38.23"/>
    <polygon class="cls-3" points="105.51 80.95 93.01 60.93 84.25 72.17 66.61 56 66.61 81.07 105.51 80.95"/>
    <path class="cls-5" d="M105.51,80.95s-8.76-16.64-7.86-11.51c.37,2.12-1.91-.98-4.53,0-2.62.98-6.56-.35-6.56-.35l-2.51,2.56-9.31-8.17s-3.34-2.08-3.58-.63c-.24,1.45-1.55,2.43-1.97,1.7-.42-.74-2.09.49-2.09,1.23s0-.74,0-.74v15.76l38.41.16Z"/>
    <path class="cls-7" d="M92.27,42.56s-1.18,4.98,3.59,8.78,9.46,2.74,9.46,2.74v-11.52h-13.05Z"/>
    <rect class="cls-4" x="108.67" y="42.56" width="36.75" height="5.15"/>
    <rect class="cls-4" x="108.67" y="57.18" width="36.75" height="5.15"/>
    <rect class="cls-4" x="108.67" y="73.09" width="36.75" height="5.15"/>
    <rect class="cls-4" x="67.68" y="87.33" width="77.74" height="5.15"/>
    <rect class="cls-4" x="67.68" y="105.74" width="77.74" height="5.15"/>
    <rect class="cls-4" x="67.68" y="124.14" width="77.74" height="5.15"/>
    <rect class="cls-4" x="67.68" y="141.05" width="77.74" height="5.15"/>
  </g>
</svg></div>
            </a>


<a href="/unitform/form_video" class="unit-card">
    <div class="svg-container" style="width: 40px; padding-top: 7px;"><svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 156.72 205.18">
  <defs>
    <style>
      .cls-11 {
        fill: #4e50a2;
      }
    </style>
  </defs>
  <g id="Layer_1-2" data-name="Layer 1">
    <path class="cls-1" d="M145.06,62.55L37.5.45c-2.2-1.27-4.96.32-4.96,2.86v124.2c0,2.54,2.75,4.13,4.96,2.86l107.56-62.1c2.2-1.27,2.2-4.45,0-5.72Z"/>
    <g>
      <path class="cls-1" d="M12.8,204.43L0,173.22h8.49l11.86,31.21h-7.55ZM13.48,204.43l11.86-31.21h8.49l-12.8,31.21h-7.55Z"/>
      <path class="cls-1" d="M42.44,168.17c-1.25,0-2.35-.47-3.31-1.41-.96-.93-1.44-2.05-1.44-3.34s.48-2.4,1.44-3.34c.96-.93,2.06-1.4,3.31-1.4s2.4.47,3.34,1.4c.94.94,1.4,2.05,1.4,3.34s-.47,2.4-1.4,3.34c-.94.94-2.05,1.41-3.34,1.41ZM38.32,204.43v-31.21h8.24v31.21h-8.24Z"/>
      <path class="cls-1" d="M66.6,205.18c-2.87,0-5.36-.67-7.46-2s-3.73-3.23-4.9-5.68c-1.17-2.45-1.75-5.35-1.75-8.68s.58-6.27,1.75-8.71c1.16-2.43,2.8-4.32,4.9-5.65s4.59-2,7.46-2c2.62,0,4.84.67,6.65,2,1.81,1.33,3.19,3.22,4.15,5.65s1.44,5.33,1.44,8.71-.48,6.22-1.44,8.68-2.34,4.35-4.15,5.68c-1.81,1.33-4.03,2-6.65,2ZM68.72,197.63c1.41,0,2.67-.38,3.78-1.13,1.1-.75,1.97-1.79,2.59-3.12.62-1.33.94-2.85.94-4.56s-.31-3.23-.94-4.56c-.62-1.33-1.49-2.36-2.59-3.09-1.1-.73-2.38-1.09-3.84-1.09s-2.81.36-3.93,1.09c-1.12.73-2.02,1.76-2.68,3.09-.67,1.33-1,2.85-1,4.56s.33,3.23,1,4.56c.67,1.33,1.57,2.37,2.71,3.12,1.14.75,2.46,1.13,3.96,1.13ZM76.4,204.43l-.44-5.81v-37.89h8.24v43.69h-7.8Z"/>
      <path class="cls-1" d="M105.42,205.18c-3.08,0-5.8-.7-8.18-2.09-2.37-1.4-4.23-3.32-5.59-5.78-1.35-2.45-2.03-5.28-2.03-8.49s.7-6.03,2.09-8.49,3.31-4.38,5.74-5.78c2.43-1.39,5.23-2.09,8.39-2.09,2.75,0,5.27.72,7.58,2.15,2.31,1.44,4.16,3.54,5.56,6.31,1.39,2.76,2.09,6.13,2.09,10.08h-23.65l.75-.75c0,1.54.38,2.88,1.16,4.02.77,1.15,1.77,2.02,3,2.62,1.23.6,2.55.9,3.96.9,1.71,0,3.1-.36,4.18-1.09,1.08-.73,1.91-1.67,2.5-2.84l7.37,2.87c-.87,1.75-2.01,3.26-3.4,4.52-1.4,1.27-3.05,2.24-4.96,2.91-1.91.67-4.1,1-6.55,1ZM98.62,185.64l-.75-.75h15.04l-.69.75c0-1.5-.35-2.69-1.06-3.59-.71-.89-1.57-1.55-2.59-1.97s-2.01-.62-2.97-.62-1.98.21-3.06.62-2.01,1.07-2.78,1.97c-.77.89-1.16,2.09-1.16,3.59Z"/>
      <path class="cls-1" d="M140.56,205.18c-3.16,0-5.98-.7-8.46-2.09-2.48-1.4-4.41-3.32-5.8-5.78-1.39-2.45-2.09-5.28-2.09-8.49s.69-6.03,2.06-8.49c1.37-2.45,3.29-4.38,5.74-5.78,2.45-1.39,5.26-2.09,8.43-2.09s6.03.7,8.49,2.09c2.45,1.4,4.37,3.32,5.74,5.78,1.37,2.45,2.06,5.28,2.06,8.49s-.69,6.03-2.06,8.49c-1.37,2.46-3.28,4.38-5.71,5.78-2.43,1.39-5.23,2.09-8.39,2.09ZM140.56,197.56c1.54,0,2.89-.37,4.06-1.12,1.16-.75,2.07-1.78,2.71-3.09s.97-2.82.97-4.53-.33-3.22-1-4.53c-.67-1.31-1.59-2.34-2.78-3.09-1.19-.75-2.55-1.12-4.09-1.12s-2.84.37-4.03,1.12c-1.19.75-2.11,1.78-2.78,3.09-.67,1.31-1,2.82-1,4.53s.33,3.22,1,4.53c.66,1.31,1.6,2.34,2.81,3.09,1.21.75,2.58,1.12,4.12,1.12Z"/>
    </g>
  </g>
</svg></div>

            </a>



<a href="/unitform/form_interview" class="unit-card">
    <div class="svg-container" style="width: 65px; padding-top: 8px;"><svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 275.75 232.58">
  <defs>
    <style>
      .cls-21 {
        fill: #4e50a2;
      }
    </style>
  </defs>
  <g id="Layer_1-2" data-name="Layer 1">
    <g>
      <path class="cls-1" d="M4.88,194.48c-1.28,0-2.42-.48-3.4-1.45-.99-.96-1.48-2.11-1.48-3.44s.49-2.48,1.48-3.44c.99-.96,2.12-1.45,3.4-1.45s2.48.48,3.44,1.45c.96.96,1.45,2.11,1.45,3.44s-.48,2.47-1.45,3.44c-.96.96-2.11,1.45-3.44,1.45ZM.64,231.81v-32.12h8.48v32.12H.64Z"/>
      <path class="cls-1" d="M16.96,231.81v-32.12h7.97l.52,5.91v26.21h-8.48ZM38.23,215.36c0-2.19-.25-3.88-.74-5.08-.49-1.2-1.19-2.07-2.09-2.6s-1.95-.8-3.15-.8c-2.19-.04-3.87.62-5.04,1.99-1.18,1.37-1.77,3.41-1.77,6.1h-2.83c0-3.43.5-6.33,1.51-8.71,1.01-2.38,2.42-4.2,4.24-5.46,1.82-1.26,3.95-1.9,6.39-1.9s4.69.52,6.49,1.54c1.8,1.03,3.17,2.62,4.11,4.79.94,2.16,1.39,4.96,1.35,8.38v1.74h-8.48ZM38.23,231.81v-16.45h8.48v16.45h-8.48Z"/>
      <path class="cls-1" d="M50.69,206.88v-7.2h21.72v7.2h-21.72ZM66.69,232.58c-3.56,0-6.24-.88-8.06-2.64-1.82-1.75-2.73-4.26-2.73-7.52v-32.77h8.48v30.9c0,1.37.3,2.41.9,3.12.6.71,1.48,1.06,2.63,1.06.43,0,.9-.1,1.41-.29s1.05-.48,1.61-.87l2.95,6.36c-1.03.77-2.18,1.4-3.44,1.9s-2.52.74-3.76.74Z"/>
      <path class="cls-1" d="M93.22,232.58c-3.17,0-5.98-.72-8.42-2.15-2.44-1.44-4.36-3.42-5.75-5.95-1.39-2.53-2.09-5.44-2.09-8.74s.72-6.21,2.15-8.74c1.43-2.53,3.4-4.51,5.91-5.95,2.5-1.43,5.39-2.15,8.64-2.15,2.83,0,5.43.74,7.81,2.22,2.38,1.48,4.28,3.64,5.72,6.49,1.44,2.85,2.15,6.31,2.15,10.38h-24.35l.77-.77c0,1.59.39,2.97,1.19,4.14.79,1.18,1.82,2.08,3.08,2.7,1.27.62,2.62.93,4.08.93,1.76,0,3.19-.37,4.31-1.12,1.11-.75,1.97-1.72,2.57-2.92l7.58,2.95c-.9,1.8-2.07,3.35-3.5,4.66s-3.14,2.3-5.11,2.99c-1.97.68-4.22,1.03-6.74,1.03ZM86.22,212.47l-.77-.77h15.48l-.71.77c0-1.54-.37-2.77-1.09-3.69-.73-.92-1.62-1.6-2.67-2.03-1.05-.43-2.07-.64-3.05-.64s-2.04.21-3.15.64c-1.12.43-2.07,1.1-2.86,2.03-.79.92-1.19,2.15-1.19,3.69Z"/>
      <path class="cls-1" d="M114.3,231.81v-32.12h8.48v32.12h-8.48ZM120.27,214.91c0-3.47.67-6.34,2.03-8.61,1.35-2.27,3.08-3.96,5.2-5.07s4.34-1.67,6.65-1.67v8.22c-1.97,0-3.82.24-5.56.71s-3.14,1.24-4.21,2.31c-1.07,1.07-1.61,2.44-1.61,4.11h-2.51Z"/>
      <path class="cls-1" d="M148.61,231.81l-13.17-32.12h8.74l12.21,32.12h-7.78ZM149.31,231.81l12.21-32.12h8.74l-13.17,32.12h-7.78Z"/>
      <path class="cls-1" d="M179.12,194.48c-1.28,0-2.42-.48-3.4-1.45-.99-.96-1.48-2.11-1.48-3.44s.49-2.48,1.48-3.44c.99-.96,2.12-1.45,3.4-1.45s2.48.48,3.44,1.45c.96.96,1.45,2.11,1.45,3.44s-.48,2.47-1.45,3.44c-.96.96-2.11,1.45-3.44,1.45ZM174.88,231.81v-32.12h8.48v32.12h-8.48Z"/>
      <path class="cls-1" d="M205.72,232.58c-3.17,0-5.98-.72-8.42-2.15-2.44-1.44-4.36-3.42-5.75-5.95-1.39-2.53-2.09-5.44-2.09-8.74s.72-6.21,2.15-8.74c1.43-2.53,3.4-4.51,5.91-5.95,2.5-1.43,5.39-2.15,8.64-2.15,2.83,0,5.43.74,7.81,2.22,2.38,1.48,4.28,3.64,5.72,6.49,1.44,2.85,2.15,6.31,2.15,10.38h-24.35l.77-.77c0,1.59.39,2.97,1.19,4.14.79,1.18,1.82,2.08,3.08,2.7,1.27.62,2.62.93,4.08.93,1.76,0,3.19-.37,4.31-1.12,1.11-.75,1.97-1.72,2.57-2.92l7.58,2.95c-.9,1.8-2.07,3.35-3.5,4.66s-3.14,2.3-5.11,2.99c-1.97.68-4.22,1.03-6.74,1.03ZM198.72,212.47l-.77-.77h15.48l-.71.77c0-1.54-.37-2.77-1.09-3.69-.73-.92-1.62-1.6-2.67-2.03-1.05-.43-2.07-.64-3.05-.64s-2.04.21-3.15.64c-1.12.43-2.07,1.1-2.86,2.03-.79.92-1.19,2.15-1.19,3.69Z"/>
      <path class="cls-1" d="M233.29,231.81l-10.92-32.12h8.61l10.22,32.12h-7.9ZM234.12,231.81l10.28-32.12h7.39l-10.15,32.12h-7.52ZM255.45,231.81l-10.02-32.12h7.32l10.22,32.12h-7.52ZM255.45,231.81l10.67-32.12h8.61l-10.92,32.12h-8.35Z"/>
    </g>
    <path class="cls-1" d="M145.75,74.87L20.86,2.76c-2.2-1.27-4.96.32-4.96,2.86v144.22c0,2.54,2.75,4.13,4.96,2.86l124.9-72.11c2.2-1.27,2.2-4.45,0-5.72Z"/>
    <path class="cls-1" d="M201.76,106.7l-1.49-37.2,19.88-1.93c5.7-.71,10.34-2.36,13.9-4.92,3.56-2.56,5.34-6.77,5.34-12.61,0-4.56-1.64-8.34-4.92-11.34-3.28-3-7.56-4.49-12.83-4.49-3.56,0-6.59.97-9.08,2.88-2.5,1.93-4.31,4.31-5.46,7.17l-34.42-9.19c2.85-10.83,8.55-19.38,17.1-25.66,8.56-6.27,19.17-9.41,31.86-9.41,10.55,0,19.89,2.14,28.02,6.41,8.12,4.28,14.51,10.16,19.14,17.65,4.63,7.48,6.95,16.14,6.95,25.98,0,7.13-1.53,13.51-4.6,19.14-3.07,5.63-7.41,10.26-13.05,13.9-5.63,3.63-12.22,6.09-19.78,7.37l-.64,16.25h-35.92ZM219.72,155.46c-5.98,0-11.15-2.18-15.5-6.53-4.35-4.35-6.53-9.51-6.53-15.51s2.17-11.15,6.53-15.5c4.35-4.35,9.51-6.53,15.5-6.53s11.16,2.18,15.51,6.53c4.35,4.35,6.53,9.51,6.53,15.5s-2.18,11.16-6.53,15.51c-4.35,4.35-9.51,6.53-15.51,6.53Z"/>
  </g>
</svg></div>

            </a>


<a href="/unitform/form_promptset" class="unit-card">
  <div class="svg-container" style="width: 75px; padding-top: 12px;"><svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 324.09 214.54">
  <defs>
    <style>
      .cls-31 {
        fill: #7b7fad;
      }

      .cls-32 {
        fill: #4e50a2;
      }

      .cls-33 {
        fill: #fff;
      }
    </style>
  </defs>
  <g id="Layer_1-2" data-name="Layer 1">
    <g>
      <path class="cls-32" d="M0,214.54v-45.31h8.02l.52,5.96v39.35H0ZM18.32,202.37c-2.72,0-5.01-.69-6.9-2.08-1.88-1.38-3.31-3.34-4.3-5.89-.99-2.54-1.49-5.54-1.49-9s.5-6.51,1.49-9.03c1-2.52,2.43-4.48,4.3-5.86,1.88-1.38,4.18-2.07,6.9-2.07,2.98,0,5.56.69,7.74,2.07,2.18,1.38,3.87,3.33,5.08,5.86,1.21,2.52,1.81,5.54,1.81,9.03s-.61,6.45-1.81,9c-1.21,2.55-2.9,4.51-5.08,5.89-2.18,1.39-4.76,2.08-7.74,2.08ZM16.11,194.54c1.55,0,2.92-.39,4.11-1.16,1.19-.78,2.12-1.85,2.81-3.24.69-1.38,1.04-2.96,1.04-4.73s-.34-3.34-1.01-4.73-1.6-2.45-2.78-3.2c-1.19-.75-2.55-1.13-4.11-1.13-1.47,0-2.79.39-3.95,1.16-1.16.78-2.07,1.84-2.72,3.2s-.97,2.92-.97,4.69.32,3.34.97,4.73c.65,1.39,1.54,2.46,2.69,3.24,1.14.77,2.45,1.16,3.91,1.16Z"/>
      <path class="cls-32" d="M38.57,201.59v-32.36h8.54v32.36h-8.54ZM44.6,184.57c0-3.5.68-6.39,2.04-8.68s3.11-3.99,5.24-5.11c2.14-1.12,4.37-1.68,6.7-1.68v8.29c-1.99,0-3.85.24-5.6.71s-3.16,1.25-4.24,2.33c-1.07,1.08-1.62,2.46-1.62,4.15h-2.52Z"/>
      <path class="cls-32" d="M78.32,202.37c-3.28,0-6.21-.73-8.77-2.17-2.57-1.44-4.58-3.44-6.02-5.99-1.45-2.54-2.17-5.48-2.17-8.8s.72-6.25,2.14-8.8c1.42-2.54,3.41-4.54,5.95-5.99,2.55-1.44,5.46-2.16,8.74-2.16s6.26.72,8.8,2.16c2.55,1.45,4.54,3.45,5.96,5.99,1.42,2.55,2.13,5.48,2.13,8.8s-.71,6.26-2.13,8.8c-1.42,2.55-3.4,4.55-5.92,5.99-2.53,1.44-5.43,2.17-8.71,2.17ZM78.32,194.48c1.6,0,3-.39,4.21-1.17,1.21-.77,2.14-1.84,2.81-3.2s1.01-2.92,1.01-4.69-.35-3.33-1.04-4.69-1.65-2.42-2.88-3.2c-1.23-.77-2.64-1.16-4.24-1.16s-2.94.39-4.17,1.16c-1.23.78-2.19,1.84-2.88,3.2s-1.04,2.92-1.04,4.69.35,3.33,1.04,4.69,1.66,2.43,2.91,3.2c1.25.78,2.68,1.17,4.27,1.17Z"/>
      <path class="cls-32" d="M100.72,201.59v-32.36h8.02l.39,4.21c.99-1.64,2.27-2.88,3.82-3.72,1.55-.84,3.28-1.26,5.18-1.26,2.63,0,4.85.56,6.64,1.68,1.79,1.12,3.09,2.85,3.91,5.18.95-2.2,2.29-3.89,4.01-5.08,1.72-1.19,3.73-1.78,6.02-1.78,3.79,0,6.68,1.2,8.67,3.59,1.99,2.39,2.98,6.07,2.98,11.04v18.51h-8.54v-16.57c0-2.2-.24-3.91-.72-5.11-.47-1.21-1.12-2.08-1.94-2.62-.82-.54-1.79-.81-2.91-.81-2.07-.05-3.67.62-4.79,2-1.12,1.39-1.68,3.43-1.68,6.15v16.96h-8.54v-16.57c0-2.2-.23-3.91-.68-5.11-.45-1.21-1.1-2.08-1.94-2.62-.84-.54-1.82-.81-2.94-.81-2.07-.05-3.66.62-4.76,2-1.1,1.39-1.65,3.43-1.65,6.15v16.96h-8.54Z"/>
      <path class="cls-32" d="M157.48,214.54v-45.31h8.03l.52,5.96v39.35h-8.54ZM175.8,202.37c-2.72,0-5.02-.69-6.9-2.08-1.88-1.38-3.31-3.34-4.3-5.89-1-2.54-1.49-5.54-1.49-9s.5-6.51,1.49-9.03c.99-2.52,2.43-4.48,4.3-5.86,1.88-1.38,4.18-2.07,6.9-2.07,2.98,0,5.55.69,7.73,2.07,2.18,1.38,3.87,3.33,5.08,5.86,1.21,2.52,1.81,5.54,1.81,9.03s-.61,6.45-1.81,9c-1.21,2.55-2.9,4.51-5.08,5.89-2.18,1.39-4.76,2.08-7.73,2.08ZM173.6,194.54c1.55,0,2.92-.39,4.11-1.16,1.19-.78,2.12-1.85,2.82-3.24.69-1.38,1.03-2.96,1.03-4.73s-.33-3.34-1-4.73-1.6-2.45-2.79-3.2c-1.19-.75-2.55-1.13-4.11-1.13-1.46,0-2.78.39-3.95,1.16-1.17.78-2.08,1.84-2.72,3.2-.64,1.36-.97,2.92-.97,4.69s.33,3.34.97,4.73c.65,1.39,1.54,2.46,2.69,3.24,1.14.77,2.45,1.16,3.92,1.16Z"/>
      <path class="cls-32" d="M193.27,176.48v-7.25h21.88v7.25h-21.88ZM209.39,202.37c-3.58,0-6.29-.88-8.12-2.65-1.83-1.77-2.75-4.29-2.75-7.57v-33.01h8.54v31.14c0,1.38.3,2.43.91,3.14.6.71,1.49,1.07,2.65,1.07.43,0,.91-.1,1.43-.29.52-.19,1.05-.48,1.62-.87l2.98,6.41c-1.03.77-2.19,1.41-3.46,1.91-1.27.5-2.54.75-3.79.75Z"/>
      <path class="cls-32" d="M249.59,202.37c-2.08,0-4.01-.32-5.83-.94-1.81-.63-3.41-1.53-4.79-2.72-1.38-1.19-2.46-2.64-3.23-4.37l7.31-3.37c.65,1.04,1.53,1.93,2.65,2.69,1.12.75,2.42,1.13,3.89,1.13s2.52-.21,3.3-.62c.78-.41,1.16-1,1.16-1.78s-.31-1.35-.94-1.71c-.63-.37-1.47-.68-2.55-.94l-2.98-.78c-3.11-.82-5.56-2.12-7.35-3.91-1.79-1.79-2.69-3.85-2.69-6.18,0-3.32,1.07-5.89,3.2-7.7,2.14-1.81,5.17-2.72,9.1-2.72,2.03,0,3.91.3,5.66.91,1.75.61,3.24,1.44,4.5,2.52,1.25,1.08,2.11,2.33,2.59,3.76l-7.05,3.23c-.3-.86-1.04-1.56-2.2-2.1-1.16-.54-2.33-.81-3.49-.81s-2.06.25-2.69.75c-.63.5-.94,1.17-.94,2.04,0,.56.3,1.02.91,1.39.6.36,1.46.68,2.59.94l4.21,1.04c2.11.52,3.81,1.35,5.08,2.49,1.27,1.14,2.2,2.42,2.79,3.82.58,1.4.87,2.77.87,4.11,0,1.94-.57,3.66-1.72,5.15-1.14,1.49-2.7,2.64-4.66,3.46-1.96.82-4.19,1.23-6.7,1.23Z"/>
      <path class="cls-32" d="M282.28,202.37c-3.2,0-6.02-.73-8.48-2.17-2.46-1.44-4.39-3.44-5.79-5.99-1.4-2.54-2.1-5.48-2.1-8.8s.72-6.25,2.17-8.8c1.44-2.54,3.43-4.54,5.95-5.99,2.52-1.44,5.43-2.16,8.71-2.16,2.84,0,5.47.74,7.86,2.23,2.39,1.49,4.31,3.67,5.76,6.54,1.45,2.87,2.17,6.35,2.17,10.45h-24.53l.77-.77c0,1.6.4,2.99,1.2,4.17.8,1.19,1.83,2.1,3.1,2.72,1.27.62,2.64.94,4.11.94,1.77,0,3.21-.38,4.34-1.13,1.12-.76,1.99-1.74,2.59-2.94l7.64,2.98c-.91,1.81-2.09,3.38-3.53,4.69-1.45,1.32-3.16,2.32-5.15,3.01s-4.25,1.04-6.8,1.04ZM275.22,182.11l-.77-.78h15.6l-.71.78c0-1.55-.37-2.8-1.1-3.72-.73-.93-1.63-1.61-2.69-2.04s-2.08-.65-3.07-.65-2.05.22-3.17.65c-1.13.43-2.09,1.11-2.88,2.04-.8.93-1.2,2.17-1.2,3.72Z"/>
      <path class="cls-32" d="M300.72,176.48v-7.25h21.88v7.25h-21.88ZM316.84,202.37c-3.58,0-6.29-.88-8.12-2.65-1.83-1.77-2.75-4.29-2.75-7.57v-33.01h8.54v31.14c0,1.38.3,2.43.91,3.14s1.49,1.07,2.65,1.07c.43,0,.91-.1,1.42-.29.52-.19,1.06-.48,1.62-.87l2.98,6.41c-1.04.77-2.19,1.41-3.47,1.91-1.27.5-2.53.75-3.79.75Z"/>
    </g>
    <rect class="cls-32" x="85.51" width="149.19" height="115.14" rx="4.06" ry="4.06"/>
    <rect class="cls-31" x="74.98" y="10.62" width="149.19" height="115.14" rx="4.06" ry="4.06"/>
    <rect class="cls-33" x="66.03" y="19.59" width="149.19" height="115.14" rx="4.06" ry="4.06"/>
    <rect class="cls-32" x="79.75" y="40.78" width="121.97" height="5.71" rx=".46" ry=".46"/>
    <rect class="cls-32" x="79.75" y="59.55" width="121.97" height="5.71" rx=".46" ry=".46"/>
    <rect class="cls-32" x="79.75" y="78.33" width="121.97" height="5.71" rx=".46" ry=".46"/>
    <rect class="cls-32" x="79.75" y="97.11" width="121.97" height="5.71" rx=".46" ry=".46"/>
    <rect class="cls-32" x="79.75" y="115.88" width="121.97" height="5.71" rx=".46" ry=".46"/>
  </g>
</svg></div>

            </a>


<a href="/unitform/form_template" class="unit-card">
    <div class="svg-container" style="width: 60px; padding-top: 4px;"><svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 221.24 227.55">
  <defs>
    <style>
      .cls-41 {
        fill: #786b73;
      }

      .cls-42 {
        fill: #7b7fad;
      }

      .cls-43 {
        fill: #4e50a2;
      }

      .cls-44 {
        fill: #fff;
      }

      .cls-45 {
        fill: #5e4e58;
      }

      .cls-46 {
        fill: #939598;
      }

      .cls-47 {
        fill: #d1d3d4;
      }

      .cls-48 {
        fill: #58595b;
      }

      .cls-49 {
        fill: #bcbec0;
      }
    </style>
  </defs>
  <g id="Layer_1-2" data-name="Layer 1">
    <g>
      <path class="cls-43" d="M0,195.91v-6.03h18.19v6.03H0ZM13.4,217.43c-2.98,0-5.23-.74-6.75-2.21s-2.29-3.57-2.29-6.3v-27.44h7.1v25.88c0,1.15.25,2.02.75,2.61.5.59,1.24.89,2.2.89.36,0,.75-.08,1.18-.25s.88-.4,1.35-.73l2.47,5.33c-.86.64-1.82,1.17-2.88,1.59s-2.11.62-3.15.62Z"/>
      <path class="cls-43" d="M35.62,217.43c-2.66,0-5-.6-7.05-1.8-2.04-1.2-3.65-2.86-4.82-4.98-1.17-2.11-1.75-4.55-1.75-7.32s.6-5.2,1.8-7.32c1.2-2.11,2.85-3.77,4.95-4.98,2.1-1.2,4.51-1.8,7.24-1.8,2.37,0,4.55.62,6.54,1.86,1.99,1.23,3.59,3.05,4.79,5.43s1.8,5.28,1.8,8.69h-20.39l.65-.64c0,1.33.33,2.48,1,3.47.66.99,1.52,1.74,2.58,2.26,1.06.52,2.2.78,3.42.78,1.47,0,2.67-.32,3.61-.94.93-.63,1.65-1.44,2.15-2.45l6.35,2.47c-.75,1.51-1.73,2.81-2.93,3.9s-2.63,1.93-4.28,2.5c-1.65.57-3.53.86-5.65.86ZM29.75,200.59l-.65-.65h12.97l-.59.65c0-1.29-.31-2.32-.92-3.1-.61-.77-1.36-1.34-2.23-1.69-.88-.36-1.73-.54-2.55-.54s-1.71.18-2.64.54c-.93.36-1.73.92-2.4,1.69s-1,1.8-1,3.1Z"/>
      <path class="cls-43" d="M53.26,216.79v-26.9h6.67l.32,3.5c.82-1.36,1.88-2.4,3.17-3.1,1.29-.7,2.73-1.05,4.3-1.05,2.19,0,4.03.46,5.51,1.4,1.49.93,2.57,2.37,3.26,4.3.79-1.83,1.9-3.24,3.33-4.22,1.43-.99,3.1-1.48,5-1.48,3.15,0,5.56.99,7.21,2.99,1.65,1.99,2.48,5.05,2.48,9.17v15.39h-7.1v-13.77c0-1.83-.2-3.25-.59-4.25s-.93-1.73-1.61-2.18c-.68-.45-1.49-.67-2.42-.67-1.72-.04-3.05.52-3.98,1.66-.93,1.15-1.4,2.85-1.4,5.11v14.09h-7.1v-13.77c0-1.83-.19-3.25-.56-4.25s-.91-1.73-1.61-2.18c-.7-.45-1.51-.67-2.45-.67-1.72-.04-3.04.52-3.95,1.66-.92,1.15-1.37,2.85-1.37,5.11v14.09h-7.1Z"/>
      <path class="cls-43" d="M100.45,227.55v-37.66h6.67l.43,4.95v32.71h-7.1ZM115.68,217.43c-2.26,0-4.17-.57-5.73-1.73-1.56-1.15-2.75-2.78-3.58-4.9-.83-2.11-1.24-4.61-1.24-7.48s.41-5.41,1.24-7.5,2.02-3.72,3.58-4.87c1.56-1.15,3.47-1.72,5.73-1.72,2.47,0,4.62.57,6.43,1.72,1.81,1.15,3.22,2.77,4.22,4.87,1,2.1,1.51,4.6,1.51,7.5s-.5,5.36-1.51,7.48c-1,2.12-2.41,3.75-4.22,4.9-1.81,1.15-3.96,1.73-6.43,1.73ZM113.85,210.92c1.29,0,2.43-.32,3.42-.97.99-.65,1.76-1.54,2.34-2.69s.86-2.46.86-3.93-.28-2.78-.83-3.93-1.33-2.04-2.31-2.66-2.12-.94-3.42-.94c-1.22,0-2.31.32-3.28.97-.97.65-1.72,1.53-2.26,2.66-.54,1.13-.81,2.43-.81,3.9s.27,2.78.81,3.93c.54,1.15,1.28,2.04,2.23,2.69.95.64,2.04.97,3.26.97Z"/>
      <path class="cls-43" d="M132.52,216.79v-37.66h7.1v37.66h-7.1Z"/>
      <path class="cls-43" d="M154.47,217.43c-3.23,0-5.73-.72-7.5-2.15-1.78-1.43-2.66-3.46-2.66-6.08,0-2.87.96-5.03,2.88-6.48,1.92-1.45,4.62-2.18,8.1-2.18h6.83v5.27h-4.36c-2.33,0-3.95.28-4.84.84-.9.56-1.34,1.34-1.34,2.34,0,.79.36,1.41,1.08,1.86.72.45,1.72.67,3.01.67,1.18,0,2.23-.28,3.15-.83.91-.56,1.64-1.27,2.18-2.15s.81-1.78.81-2.72h1.72c0,3.66-.69,6.51-2.07,8.56-1.38,2.04-3.7,3.07-6.97,3.07ZM162,216.79l-.22-5.43v-8.18c0-1.61-.17-2.99-.51-4.14s-.88-2.04-1.61-2.66c-.74-.63-1.73-.94-2.99-.94-1.15,0-2.19.25-3.12.75s-1.72,1.27-2.37,2.31l-6.24-2.15c.5-1.15,1.24-2.27,2.21-3.36.97-1.09,2.23-1.99,3.79-2.69,1.56-.7,3.47-1.05,5.73-1.05,2.73,0,4.99.52,6.81,1.56,1.81,1.04,3.15,2.5,4.03,4.39.88,1.88,1.3,4.12,1.26,6.69l-.16,14.9h-6.62Z"/>
      <path class="cls-43" d="M172.11,195.91v-6.03h18.19v6.03h-18.19ZM185.51,217.43c-2.98,0-5.23-.74-6.75-2.21s-2.29-3.57-2.29-6.3v-27.44h7.1v25.88c0,1.15.25,2.02.75,2.61.5.59,1.24.89,2.2.89.36,0,.75-.08,1.18-.25s.88-.4,1.35-.73l2.47,5.33c-.86.64-1.82,1.17-2.88,1.59s-2.11.62-3.15.62Z"/>
      <path class="cls-43" d="M207.73,217.43c-2.66,0-5-.6-7.05-1.8-2.04-1.2-3.65-2.86-4.82-4.98-1.17-2.11-1.75-4.55-1.75-7.32s.6-5.2,1.8-7.32c1.2-2.11,2.85-3.77,4.95-4.98,2.1-1.2,4.51-1.8,7.24-1.8,2.37,0,4.55.62,6.54,1.86,1.99,1.23,3.59,3.05,4.79,5.43s1.8,5.28,1.8,8.69h-20.39l.65-.64c0,1.33.33,2.48,1,3.47.66.99,1.52,1.74,2.58,2.26,1.06.52,2.2.78,3.42.78,1.47,0,2.67-.32,3.61-.94.93-.63,1.65-1.44,2.15-2.45l6.35,2.47c-.75,1.51-1.73,2.81-2.93,3.9s-2.63,1.93-4.28,2.5c-1.65.57-3.53.86-5.65.86ZM201.87,200.59l-.65-.65h12.97l-.59.65c0-1.29-.31-2.32-.92-3.1-.61-.77-1.36-1.34-2.23-1.69-.88-.36-1.73-.54-2.55-.54s-1.71.18-2.64.54c-.93.36-1.73.92-2.4,1.69s-1,1.8-1,3.1Z"/>
    </g>
    <polygon class="cls-47" points="32.11 24.15 32.11 150.53 135.88 150.53 135.88 48.29 111.23 24.15 32.11 24.15"/>
    <rect class="cls-49" x="45.06" y="83.64" width="76.44" height="5.2" rx="1.95" ry="1.95"/>
    <rect class="cls-49" x="45.06" y="100.34" width="76.44" height="5.2" rx="1.95" ry="1.95"/>
    <rect class="cls-49" x="45.06" y="117.03" width="76.44" height="5.2" rx="1.95" ry="1.95"/>
    <rect class="cls-49" x="45.06" y="133.73" width="76.44" height="5.2" rx="1.95" ry="1.95"/>
    <polygon class="cls-44" points="60.98 0 60.98 126.38 164.76 126.38 164.76 24.15 140.1 0 60.98 0"/>
    <rect class="cls-43" x="74.28" y="27.21" width="24.66" height="24.66"/>
    <path class="cls-44" d="M84.1,38.45s-2.63-3.21-5.14-.83c-2.22,2.11.51,4.69.51,4.69l3.66,3.47s2.12,1.54,3.28,0,8.48-8.69,8.48-8.69c0,0,.96-3.06-.96-4.02s-3.47,0-3.47,0l-6.36,5.39Z"/>
    <rect class="cls-49" x="107.99" y="27.21" width="42.38" height="5.2" rx="1.95" ry="1.95"/>
    <rect class="cls-49" x="107.99" y="41.26" width="42.38" height="5.2" rx="1.95" ry="1.95"/>
    <rect class="cls-49" x="73.93" y="59.49" width="76.44" height="5.2" rx="1.95" ry="1.95"/>
    <rect class="cls-49" x="73.93" y="76.19" width="44.62" height="5.2" rx="1.95" ry="1.95"/>
    <rect class="cls-49" x="73.93" y="92.89" width="44.62" height="5.2" rx="1.95" ry="1.95"/>
    <rect class="cls-49" x="73.93" y="109.58" width="44.62" height="5.2" rx="1.95" ry="1.95"/>
    <polyline class="cls-49" points="140.1 0 140.1 24.15 164.76 24.15"/>
    <polygon class="cls-45" points="128.21 87.88 180.05 25.59 188.75 32.5 137.02 95.45 128.21 87.88"/>
    <polygon class="cls-41" points="146.38 103.55 137.02 95.45 188.75 32.5 208.82 50.88 190.7 73.15 186.2 69.34 200.58 51.16 194.1 45.07 146.38 103.55"/>
    <polygon class="cls-46" points="124.45 109.42 128.21 87.88 137.02 95.45 124.45 109.42"/>
    <polygon class="cls-48" points="146.38 103.55 124.45 109.42 137.02 95.45 146.38 103.55"/>
    <path class="cls-42" d="M180.05,25.59s7.13-12.44,18.85-4.9l-10.15,11.81-8.71-6.91Z"/>
    <path class="cls-43" d="M197.49,40.5s12.82-10.49,1.41-19.81l-10.15,11.81,8.74,8Z"/>
  </g>
</svg></div>

            </a>



<a href="/unitform/form_exercise" class="unit-card">
    <div class="svg-container" style="width: 55px; padding-top: 10px;"><svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 249.61 228.44">
  <defs>
    <style>
      .cls-51 {
        fill: #4e50a2;
      }

      .cls-52 {
        fill: #fff;
      }

      .cls-53 {
        fill: #5e4e58;
      }

      .cls-54 {
        fill: #2c1121;
      }

      .cls-55 {
        fill: #bcbec0;
      }

      .cls-56 {
        fill: #c2b59b;
      }
    </style>
  </defs>
  <g id="Layer_1-2" data-name="Layer 1">
    <g>
      <path class="cls-51" d="M16.77,228.44c-3.27,0-6.17-.74-8.68-2.22-2.52-1.48-4.5-3.53-5.93-6.13-1.44-2.61-2.16-5.61-2.16-9.02s.74-6.41,2.22-9.02c1.48-2.61,3.51-4.65,6.1-6.13,2.58-1.48,5.56-2.22,8.92-2.22,2.92,0,5.6.77,8.06,2.29,2.45,1.53,4.42,3.76,5.9,6.7,1.48,2.94,2.22,6.51,2.22,10.7H8.29l.8-.8c0,1.64.41,3.06,1.23,4.28.82,1.21,1.88,2.14,3.18,2.79,1.31.64,2.71.96,4.21.96,1.81,0,3.29-.39,4.44-1.17,1.15-.77,2.03-1.78,2.65-3.01l7.82,3.04c-.93,1.86-2.13,3.46-3.61,4.81-1.48,1.35-3.24,2.37-5.27,3.08-2.03.71-4.35,1.06-6.96,1.06ZM9.55,207.69l-.8-.8h15.98l-.73.8c0-1.6-.38-2.86-1.13-3.81-.75-.95-1.67-1.65-2.75-2.09-1.08-.44-2.13-.66-3.15-.66s-2.1.22-3.25.66c-1.15.44-2.13,1.13-2.95,2.09-.82.95-1.23,2.22-1.23,3.81Z"/>
      <path class="cls-51" d="M34.21,227.64l13.59-18.96,9.48-14.19h10.34l-13.19,18.49-9.74,14.65h-10.47ZM58.01,227.64l-9.61-14.65-13.33-18.49h10.34l9.48,14.19,13.53,18.96h-10.41Z"/>
      <path class="cls-51" d="M86.65,228.44c-3.27,0-6.17-.74-8.68-2.22-2.52-1.48-4.5-3.53-5.93-6.13-1.44-2.61-2.16-5.61-2.16-9.02s.74-6.41,2.22-9.02c1.48-2.61,3.51-4.65,6.1-6.13,2.58-1.48,5.56-2.22,8.92-2.22,2.92,0,5.6.77,8.06,2.29,2.45,1.53,4.42,3.76,5.9,6.7,1.48,2.94,2.22,6.51,2.22,10.7h-25.13l.8-.8c0,1.64.41,3.06,1.23,4.28.82,1.21,1.88,2.14,3.18,2.79,1.31.64,2.71.96,4.21.96,1.81,0,3.29-.39,4.44-1.17,1.15-.77,2.03-1.78,2.65-3.01l7.82,3.04c-.93,1.86-2.13,3.46-3.61,4.81s-3.24,2.37-5.27,3.08c-2.03.71-4.35,1.06-6.96,1.06ZM79.43,207.69l-.8-.8h15.98l-.73.8c0-1.6-.38-2.86-1.13-3.81-.75-.95-1.67-1.65-2.75-2.09-1.08-.44-2.13-.66-3.15-.66s-2.1.22-3.25.66c-1.15.44-2.13,1.13-2.95,2.09-.82.95-1.23,2.22-1.23,3.81Z"/>
      <path class="cls-51" d="M108.4,227.64v-33.15h8.75v33.15h-8.75ZM114.56,210.21c0-3.58.7-6.54,2.09-8.88,1.39-2.34,3.18-4.09,5.37-5.24,2.19-1.15,4.48-1.72,6.86-1.72v8.48c-2.03,0-3.94.25-5.74.73s-3.24,1.28-4.34,2.38c-1.1,1.1-1.66,2.52-1.66,4.24h-2.59Z"/>
      <path class="cls-51" d="M149.5,228.44c-3.45,0-6.52-.74-9.22-2.22-2.7-1.48-4.8-3.54-6.3-6.17-1.5-2.63-2.26-5.63-2.26-8.98s.75-6.41,2.26-9.02c1.5-2.61,3.58-4.65,6.23-6.13,2.65-1.48,5.7-2.22,9.15-2.22s6.34.82,9.08,2.45c2.74,1.63,4.73,4,5.97,7.09l-8.22,2.91c-.62-1.28-1.58-2.31-2.88-3.08-1.31-.78-2.75-1.17-4.34-1.17s-3.07.39-4.31,1.17c-1.24.77-2.21,1.85-2.92,3.22-.71,1.37-1.06,2.96-1.06,4.77s.35,3.39,1.06,4.74c.71,1.35,1.7,2.42,2.98,3.22,1.28.8,2.74,1.2,4.38,1.2s3.04-.42,4.34-1.26c1.3-.84,2.26-1.94,2.88-3.31l8.29,2.91c-1.28,3.14-3.28,5.57-6,7.29-2.72,1.73-5.76,2.59-9.12,2.59Z"/>
      <path class="cls-51" d="M174.63,189.12c-1.32,0-2.5-.5-3.51-1.49s-1.52-2.17-1.52-3.54.51-2.55,1.52-3.54c1.02-1,2.19-1.49,3.51-1.49s2.55.5,3.55,1.49c1,.99,1.49,2.17,1.49,3.54s-.5,2.55-1.49,3.54c-.99.99-2.18,1.49-3.55,1.49ZM170.25,227.64v-33.15h8.75v33.15h-8.75Z"/>
      <path class="cls-51" d="M199.49,228.44c-2.12,0-4.11-.32-5.97-.96-1.86-.65-3.49-1.58-4.91-2.79-1.41-1.21-2.52-2.7-3.32-4.47l7.49-3.45c.66,1.06,1.57,1.98,2.72,2.75,1.15.78,2.47,1.17,3.98,1.17s2.58-.21,3.38-.63c.79-.42,1.19-1.03,1.19-1.82s-.32-1.38-.96-1.75c-.64-.38-1.52-.7-2.62-.96l-3.05-.8c-3.18-.84-5.69-2.18-7.53-4.01-1.83-1.83-2.75-3.94-2.75-6.33,0-3.4,1.1-6.04,3.28-7.89,2.19-1.86,5.29-2.78,9.31-2.78,2.08,0,4.01.31,5.8.93,1.79.63,3.33,1.48,4.61,2.59,1.28,1.1,2.17,2.38,2.65,3.84l-7.22,3.32c-.31-.88-1.06-1.6-2.26-2.15-1.19-.56-2.39-.83-3.58-.83s-2.11.25-2.75.77c-.64.51-.96,1.2-.96,2.08,0,.58.31,1.05.93,1.42.62.38,1.5.7,2.65.96l4.31,1.07c2.17.53,3.9,1.38,5.21,2.55,1.3,1.18,2.26,2.48,2.85,3.92.6,1.44.9,2.84.9,4.21,0,1.99-.58,3.74-1.75,5.27-1.18,1.53-2.76,2.71-4.77,3.55-2.01.84-4.3,1.26-6.86,1.26Z"/>
      <path class="cls-51" d="M232.97,228.44c-3.27,0-6.17-.74-8.68-2.22-2.52-1.48-4.5-3.53-5.93-6.13-1.44-2.61-2.16-5.61-2.16-9.02s.74-6.41,2.22-9.02c1.48-2.61,3.51-4.65,6.1-6.13,2.58-1.48,5.56-2.22,8.91-2.22,2.92,0,5.61.77,8.06,2.29,2.45,1.53,4.42,3.76,5.9,6.7,1.48,2.94,2.22,6.51,2.22,10.7h-25.13l.8-.8c0,1.64.4,3.06,1.22,4.28s1.88,2.14,3.18,2.79c1.31.64,2.71.96,4.21.96,1.81,0,3.29-.39,4.45-1.17,1.15-.77,2.03-1.78,2.65-3.01l7.82,3.04c-.93,1.86-2.13,3.46-3.61,4.81-1.48,1.35-3.24,2.37-5.27,3.08-2.03.71-4.35,1.06-6.96,1.06ZM225.74,207.69l-.8-.8h15.98l-.73.8c0-1.6-.38-2.86-1.13-3.81-.76-.95-1.67-1.65-2.75-2.09-1.08-.44-2.14-.66-3.15-.66s-2.1.22-3.25.66c-1.15.44-2.13,1.13-2.95,2.09-.81.95-1.22,2.22-1.22,3.81Z"/>
    </g>
    <rect class="cls-55" x="38.83" width="156.63" height="156.63" rx="2.63" ry="2.63"/>
    <rect class="cls-56" x="74.39" y="35.85" width="84.94" height="84.94"/>
    <rect class="cls-51" x="43.25" y="4.66" width="27.4" height="27.4"/>
    <rect class="cls-51" x="103.45" y="4.66" width="27.4" height="27.4"/>
    <rect class="cls-51" x="163.65" y="4.66" width="27.4" height="27.4"/>
    <rect class="cls-51" x="163.65" y="64.62" width="27.4" height="27.4"/>
    <rect class="cls-52" x="73.35" y="4.66" width="27.4" height="27.4"/>
    <rect class="cls-52" x="133.55" y="4.66" width="27.4" height="27.4"/>
    <rect class="cls-51" x="42.96" y="124.57" width="27.4" height="27.4"/>
    <rect class="cls-51" x="103.16" y="124.57" width="27.4" height="27.4"/>
    <rect class="cls-51" x="163.36" y="124.57" width="27.4" height="27.4"/>
    <rect class="cls-52" x="73.06" y="124.57" width="27.4" height="27.4"/>
    <rect class="cls-52" x="133.26" y="124.57" width="27.4" height="27.4"/>
    <rect class="cls-52" x="163.36" y="93.38" width="27.4" height="27.4"/>
    <rect class="cls-52" x="163.65" y="35.85" width="27.4" height="27.4"/>
    <rect class="cls-51" x="43.39" y="64.62" width="27.4" height="27.4"/>
    <rect class="cls-52" x="43.1" y="93.38" width="27.4" height="27.4"/>
    <rect class="cls-52" x="43.39" y="35.85" width="27.4" height="27.4"/>
    <path class="cls-51" d="M90.39,114.48v-23.12s5.97-14.03,18.18-12.99l17.92-.06s17.41,3.88,17.4,13.23v22.93h-53.51Z"/>
    <path class="cls-54" d="M123.65,91.34s6.82-4.09,3.7-14.22l-9.35,3.9,5.65,10.33Z"/>
    <path class="cls-54" d="M110.59,91.34s-6.82-4.09-3.7-14.22l9.35,3.9-5.65,10.33Z"/>
    <circle class="cls-52" cx="117.04" cy="62.08" r="17.48"/>
    <polygon class="cls-52" points="117.12 81.62 113.94 87.27 117.12 92.07 120.1 87.14 117.12 81.62"/>
    <polygon class="cls-52" points="115.72 91.75 117.31 94.61 118.81 91.75 121.73 114.48 112.57 114.48 115.72 91.75"/>
    <path class="cls-53" d="M88.13,129.08l-4.55-.13c-.21-8.81-4.3-19.76-5.95-23.83,4.02-1.67,6.85-5.63,6.85-10.26,0-6.13-4.97-11.1-11.1-11.1s-11.1,4.97-11.1,11.1c0,4.75,2.99,8.81,7.19,10.39-3.67,8.4-5.24,24.35-5.24,24.35h-5.33c-4.55,1.43-5.33,8.44-5.33,8.44h38.96c0-5.71-4.42-8.96-4.42-8.96Z"/>
  </g>
</svg></div>

            </a>


<!-- 1) Micro learning (collapses Micro Course + Micro Study into one tile) -->
<div class="unit-card has-menu">
  <a href="/microcourses" class="unit-card-main" aria-haspopup="true" aria-expanded="false">
    <div class="svg-container" style="width: 80px; padding-top: 10px;">
<?xml version="1.0" encoding="UTF-8"?>
<svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 531.21 445.85">
  <defs>
    <style>
      .cls-71 {
        fill: #f37b78;
      }

      .cls-72 {
        fill: #231f20;
      }

      .cls-73 {
        fill: #4e50a2;
      }

      .cls-74 {
        fill: #fff;
      }

      .cls-75 {
        fill: #808285;
      }

      .cls-76 {
        fill: #292561;
      }

      .cls-77 {
        fill: #2c1121;
      }

      .cls-78 {
        fill: #a7a9ac;
      }

      .cls-79 {
        fill: #262262;
      }

      .cls-710 {
        fill: #bcbec0;
      }

      .cls-711 {
        fill: #c2b59b;
      }
    </style>
  </defs>
  <g id="Layer_2-2" data-name="Layer 2">
    <g>
      <rect class="cls-73" x="188.61" width="298.25" height="200.48" rx="4.3" ry="4.3"/>
      <rect class="cls-75" x="313.33" y="206.01" width="41.05" height="19.79"/>
      <rect class="cls-75" x="275.63" y="231.34" width="116.45" height="19.79"/>
      <ellipse class="cls-74" cx="283.59" cy="88.9" rx="69.5" ry="67.01"/>
      <rect class="cls-74" x="202.19" y="167.13" width="269.26" height="17.93" rx="1.67" ry="1.67"/>
      <rect class="cls-72" x="235.73" y="117.06" width="90.06" height="9.16" rx=".85" ry=".85"/>
      <rect class="cls-72" x="235.73" y="97.26" width="90.06" height="9.16" rx=".85" ry=".85"/>
      <rect class="cls-72" x="235.73" y="77.47" width="90.06" height="9.16" rx=".85" ry=".85"/>
      <rect class="cls-72" x="280.49" y="59.7" width="45.03" height="9.16" rx=".85" ry=".85"/>
      <ellipse class="cls-72" cx="337.73" cy="176.09" rx="7.82" ry="7.54"/>
      <ellipse class="cls-72" cx="252.52" cy="53.88" rx="13.44" ry="12.96"/>
      <rect class="cls-74" x="378.97" y="124.09" width="66.88" height="17.92"/>
      <path class="cls-75" d="M385.19,110.63v-20.46s1.86-10.55,15.08-12.28c13.22-1.73,23.46-.25,24.39,0,.93.25,13.78,2.94,14.89,11.92v20.82s-54.36,0-54.36,0Z"/>
      <polygon class="cls-75" points="370.85 110.63 387.23 87.05 386.3 103.45 379.79 110.63 370.85 110.63"/>
      <path class="cls-77" d="M417.82,88.38s6.54.76,8.02-9.71l-9.48-1.61,1.46,11.31Z"/>
      <path class="cls-77" d="M407.97,88.33s-6.57.4-7.44-10.13l9.56-1.09-2.12,11.21Z"/>
      <polygon class="cls-71" points="410.1 87.5 413.08 82.12 416.53 87.5 413.31 92.62 410.1 87.5"/>
      <polygon class="cls-71" points="411.13 91.63 413.22 94.26 415.18 91.63 417.11 112.23 408.48 112.23 411.13 91.63"/>
      <ellipse class="cls-74" cx="412.79" cy="66.61" rx="15.29" ry="14.74"/>
      <rect class="cls-74" x="369.67" y="119.87" width="87.48" height="9.66"/>
    </g>
    <g>
      <polygon class="cls-74" points="51.89 101.02 51.89 229.46 157.35 229.46 157.35 125.56 132.29 101.02 51.89 101.02"/>
      <rect class="cls-711" x="65.4" y="128.68" width="25.06" height="25.06"/>
      <path class="cls-74" d="M75.38,140.1s-2.68-3.26-5.22-.85c-2.26,2.14.52,4.76.52,4.76l3.72,3.52s2.15,1.57,3.33,0,8.61-8.83,8.61-8.83c0,0,.98-3.11-.98-4.09s-3.52,0-3.52,0l-6.46,5.48Z"/>
      <rect class="cls-710" x="99.66" y="128.68" width="43.07" height="5.29" rx="2.25" ry="2.25"/>
      <rect class="cls-710" x="99.66" y="142.95" width="43.07" height="5.29" rx="2.25" ry="2.25"/>
      <rect class="cls-710" x="65.05" y="161.49" width="77.69" height="5.29" rx="2.25" ry="2.25"/>
      <rect class="cls-710" x="65.05" y="178.46" width="77.69" height="5.29" rx="2.25" ry="2.25"/>
      <rect class="cls-710" x="65.05" y="195.42" width="77.69" height="5.29" rx="2.25" ry="2.25"/>
      <rect class="cls-710" x="65.05" y="212.39" width="77.69" height="5.29" rx="2.25" ry="2.25"/>
      <polyline class="cls-710" points="132.29 101.02 132.29 125.56 157.35 125.56"/>
      <polygon class="cls-75" points="110.76 316.61 128.95 290.54 273.3 290.54 290.22 316.61 110.76 316.61"/>
      <rect class="cls-74" x="220.03" y="192.69" width="30.41" height="30.41" transform="translate(-72.43 145.47) rotate(-30)"/>
      <path class="cls-76" d="M188.26,102.19h34.69c4.27,0,7.73,3.47,7.73,7.73v93.92h-49.5v-94.57c0-3.91,3.17-7.08,7.08-7.08Z" transform="translate(-48.1 117.1) rotate(-28.57)"/>
      <path class="cls-78" d="M192.62,110.58h26.1c3.11,0,5.63,2.52,5.63,5.63v80.31h-37.25v-80.43c0-3.04,2.47-5.52,5.52-5.52Z" transform="translate(-48.38 117.07) rotate(-28.57)"/>
      <polygon class="cls-79" points="117.6 305.88 134.46 279.81 268.26 279.81 283.95 305.88 117.6 305.88"/>
      <path class="cls-78" d="M248.48,241.44c-7.54,19.91-26.53,34.04-48.78,34.04-28.87,0-49.3-17.27-52.27-53.11-1.43-17.22,11.64-42.93,29.89-49.34l-12.69-12.17c-20.86,12.31-34.91,35.24-34.91,61.51,0,39.27,31.33,71.1,69.98,71.1,32.14,0,59.2-22.03,67.41-52.03h-18.62Z"/>
      <rect class="cls-74" x="221.52" y="239.97" width="61.2" height="10.81" rx="1.62" ry="1.62"/>
      <circle class="cls-76" cx="170.7" cy="160.85" r="23.54"/>
      <circle class="cls-74" cx="170.7" cy="160.85" r="17.91"/>
    </g>
    <g>
      <path class="cls-73" d="M0,428.38v-41.02h10.17l.49,5.33c1.26-2.08,2.87-3.65,4.84-4.72,1.97-1.07,4.16-1.6,6.56-1.6,3.34,0,6.14.71,8.41,2.13,2.27,1.42,3.92,3.61,4.96,6.56,1.2-2.79,2.9-4.94,5.09-6.44,2.19-1.5,4.73-2.26,7.63-2.26,4.81,0,8.48,1.52,10.99,4.55,2.51,3.04,3.77,7.7,3.77,13.99v23.46h-10.83v-21c0-2.79-.3-4.95-.9-6.48-.6-1.53-1.42-2.64-2.46-3.32-1.04-.68-2.27-1.02-3.69-1.02-2.63-.05-4.65.79-6.07,2.54-1.42,1.75-2.13,4.35-2.13,7.79v21.49h-10.83v-21c0-2.79-.29-4.95-.86-6.48-.57-1.53-1.39-2.64-2.46-3.32-1.07-.68-2.31-1.02-3.73-1.02-2.63-.05-4.64.79-6.03,2.54-1.39,1.75-2.09,4.35-2.09,7.79v21.49H0Z"/>
      <path class="cls-73" d="M77.61,380.71c-1.64,0-3.09-.62-4.35-1.85-1.26-1.23-1.89-2.69-1.89-4.39s.63-3.16,1.89-4.39c1.26-1.23,2.71-1.85,4.35-1.85s3.16.62,4.39,1.85c1.23,1.23,1.85,2.7,1.85,4.39s-.62,3.16-1.85,4.39c-1.23,1.23-2.69,1.85-4.39,1.85ZM72.2,428.38v-41.02h10.83v41.02h-10.83Z"/>
      <path class="cls-73" d="M112.8,429.36c-4.27,0-8.07-.92-11.4-2.75-3.34-1.83-5.94-4.38-7.79-7.63-1.86-3.25-2.79-6.96-2.79-11.12s.93-7.93,2.79-11.16c1.86-3.23,4.43-5.76,7.71-7.59,3.28-1.83,7.06-2.75,11.32-2.75s7.85,1.01,11.24,3.04c3.39,2.02,5.85,4.95,7.38,8.78l-10.17,3.61c-.77-1.59-1.96-2.86-3.57-3.81-1.61-.96-3.4-1.44-5.37-1.44s-3.8.48-5.33,1.44c-1.53.96-2.74,2.28-3.61,3.98-.88,1.7-1.31,3.66-1.31,5.91s.44,4.2,1.31,5.87c.87,1.67,2.1,2.99,3.69,3.98,1.59.98,3.39,1.48,5.41,1.48s3.76-.52,5.37-1.56c1.61-1.04,2.8-2.41,3.57-4.1l10.26,3.61c-1.59,3.88-4.06,6.89-7.42,9.02-3.36,2.13-7.12,3.2-11.28,3.2Z"/>
      <path class="cls-73" d="M137.83,428.38v-41.02h10.83v41.02h-10.83ZM145.46,406.8c0-4.43.86-8.09,2.58-10.99,1.72-2.9,3.94-5.06,6.65-6.48,2.71-1.42,5.54-2.13,8.49-2.13v10.5c-2.52,0-4.88.3-7.1.9s-4.01,1.59-5.37,2.95c-1.37,1.37-2.05,3.12-2.05,5.25h-3.2Z"/>
      <path class="cls-73" d="M188.2,429.36c-4.16,0-7.86-.92-11.12-2.75-3.25-1.83-5.8-4.36-7.63-7.59-1.83-3.23-2.75-6.95-2.75-11.16s.9-7.93,2.71-11.16c1.81-3.23,4.32-5.76,7.55-7.59,3.23-1.83,6.92-2.75,11.08-2.75s7.93.92,11.16,2.75c3.23,1.83,5.74,4.36,7.55,7.59,1.8,3.23,2.71,6.95,2.71,11.16s-.9,7.93-2.71,11.16c-1.8,3.23-4.31,5.76-7.51,7.59s-6.88,2.75-11.03,2.75ZM188.2,419.35c2.02,0,3.8-.49,5.33-1.48,1.53-.98,2.72-2.34,3.57-4.06.85-1.72,1.27-3.7,1.27-5.95s-.44-4.23-1.31-5.95c-.88-1.72-2.09-3.08-3.65-4.06-1.56-.98-3.35-1.48-5.37-1.48s-3.73.49-5.29,1.48c-1.56.98-2.78,2.34-3.65,4.06-.88,1.72-1.31,3.71-1.31,5.95s.44,4.23,1.31,5.95c.87,1.72,2.1,3.08,3.69,4.06,1.59.98,3.39,1.48,5.41,1.48Z"/>
      <path class="cls-73" d="M236.11,428.38v-57.43h10.83v57.43h-10.83Z"/>
      <path class="cls-73" d="M274.83,429.36c-4.05,0-7.63-.92-10.75-2.75-3.12-1.83-5.57-4.36-7.34-7.59-1.78-3.23-2.67-6.95-2.67-11.16s.92-7.93,2.75-11.16c1.83-3.23,4.35-5.76,7.55-7.59,3.2-1.83,6.88-2.75,11.03-2.75,3.61,0,6.93.94,9.97,2.83,3.04,1.89,5.47,4.65,7.3,8.29,1.83,3.64,2.75,8.05,2.75,13.25h-31.09l.98-.98c0,2.02.51,3.79,1.52,5.29,1.01,1.51,2.32,2.65,3.94,3.45,1.61.79,3.35,1.19,5.21,1.19,2.24,0,4.07-.48,5.5-1.44,1.42-.96,2.52-2.2,3.28-3.73l9.68,3.77c-1.15,2.3-2.64,4.28-4.47,5.95-1.83,1.67-4.01,2.94-6.52,3.81-2.52.87-5.39,1.31-8.61,1.31ZM265.89,403.68l-.98-.98h19.77l-.9.98c0-1.97-.47-3.54-1.39-4.72-.93-1.18-2.06-2.04-3.4-2.58-1.34-.55-2.64-.82-3.9-.82s-2.6.27-4.02.82c-1.42.55-2.64,1.41-3.65,2.58-1.01,1.18-1.52,2.75-1.52,4.72Z"/>
      <path class="cls-73" d="M315.03,429.36c-4.92,0-8.74-1.09-11.44-3.28-2.71-2.19-4.06-5.28-4.06-9.27,0-4.37,1.46-7.67,4.39-9.89,2.93-2.22,7.04-3.32,12.35-3.32h10.42v8.04h-6.65c-3.56,0-6.02.43-7.38,1.27-1.37.85-2.05,2.04-2.05,3.57,0,1.2.55,2.15,1.64,2.83,1.09.68,2.63,1.03,4.59,1.03,1.8,0,3.4-.42,4.8-1.27,1.4-.85,2.5-1.94,3.32-3.28.82-1.34,1.23-2.72,1.23-4.14h2.62c0,5.58-1.05,9.93-3.16,13.04-2.11,3.12-5.65,4.68-10.62,4.68ZM326.52,428.38l-.33-8.29v-12.47c0-2.46-.26-4.57-.78-6.32-.52-1.75-1.34-3.1-2.46-4.06-1.12-.96-2.64-1.44-4.55-1.44-1.75,0-3.34.38-4.76,1.15-1.42.77-2.63,1.94-3.61,3.53l-9.52-3.28c.77-1.75,1.89-3.46,3.36-5.13,1.48-1.67,3.4-3.04,5.78-4.1,2.38-1.07,5.29-1.6,8.74-1.6,4.16,0,7.62.79,10.38,2.38,2.76,1.59,4.81,3.82,6.15,6.69,1.34,2.87,1.98,6.28,1.93,10.21l-.25,22.73h-10.09Z"/>
      <path class="cls-73" d="M345.47,428.38v-41.02h10.83v41.02h-10.83ZM353.1,406.8c0-4.43.86-8.09,2.58-10.99,1.72-2.9,3.94-5.06,6.65-6.48,2.71-1.42,5.54-2.13,8.49-2.13v10.5c-2.52,0-4.88.3-7.1.9s-4.01,1.59-5.37,2.95c-1.37,1.37-2.05,3.12-2.05,5.25h-3.2Z"/>
      <path class="cls-73" d="M376.56,428.38v-41.02h10.17l.66,7.55v33.47h-10.83ZM403.72,407.38c0-2.79-.32-4.95-.94-6.48-.63-1.53-1.52-2.64-2.67-3.32-1.15-.68-2.49-1.02-4.02-1.02-2.79-.05-4.94.79-6.44,2.54-1.5,1.75-2.26,4.35-2.26,7.79h-3.61c0-4.38.64-8.08,1.93-11.12,1.28-3.04,3.09-5.36,5.41-6.97,2.32-1.61,5.05-2.42,8.16-2.42s5.99.66,8.29,1.97c2.3,1.31,4.05,3.35,5.25,6.11,1.2,2.76,1.78,6.33,1.72,10.71v2.22h-10.83ZM403.72,428.38v-21h10.83v21h-10.83Z"/>
      <path class="cls-73" d="M429.23,380.71c-1.64,0-3.09-.62-4.35-1.85-1.26-1.23-1.89-2.69-1.89-4.39s.63-3.16,1.89-4.39c1.26-1.23,2.71-1.85,4.35-1.85s3.16.62,4.39,1.85c1.23,1.23,1.85,2.7,1.85,4.39s-.62,3.16-1.85,4.39c-1.23,1.23-2.69,1.85-4.39,1.85ZM423.82,428.38v-41.02h10.83v41.02h-10.83Z"/>
      <path class="cls-73" d="M444.65,428.38v-41.02h10.17l.66,7.55v33.47h-10.83ZM471.81,407.38c0-2.79-.32-4.95-.94-6.48-.63-1.53-1.52-2.64-2.67-3.32-1.15-.68-2.49-1.02-4.02-1.02-2.79-.05-4.94.79-6.44,2.54-1.5,1.75-2.26,4.35-2.26,7.79h-3.61c0-4.38.64-8.08,1.93-11.12,1.28-3.04,3.09-5.36,5.41-6.97,2.32-1.61,5.05-2.42,8.16-2.42s5.99.66,8.29,1.97c2.3,1.31,4.05,3.35,5.25,6.11,1.2,2.76,1.78,6.33,1.72,10.71v2.22h-10.83ZM471.81,428.38v-21h10.83v21h-10.83Z"/>
      <path class="cls-73" d="M507.58,427.23c-3.77,0-7.04-.82-9.8-2.46-2.76-1.64-4.91-3.94-6.44-6.89-1.53-2.95-2.3-6.45-2.3-10.5,0-4.27.77-7.97,2.3-11.12,1.53-3.14,3.68-5.58,6.44-7.3,2.76-1.72,6.03-2.58,9.8-2.58,3.28,0,6.12.86,8.53,2.58,2.41,1.72,4.27,4.17,5.58,7.34,1.31,3.17,1.97,6.95,1.97,11.32,0,3.94-.66,7.38-1.97,10.34-1.31,2.95-3.17,5.24-5.58,6.85-2.41,1.61-5.25,2.42-8.53,2.42ZM509.71,445.85c-3.12,0-5.88-.22-8.29-.66-2.41-.44-4.43-1.01-6.07-1.72-1.64-.71-2.98-1.42-4.02-2.13l4.27-8.7c.77.44,1.78.94,3.04,1.52,1.26.57,2.76,1.07,4.51,1.48,1.75.41,3.77.62,6.07.62s4.11-.42,5.78-1.27c1.67-.85,2.98-2.16,3.94-3.94.96-1.78,1.44-4.03,1.44-6.77v-36.92h10.83v36.59c0,4.59-.88,8.54-2.63,11.85-1.75,3.31-4.23,5.81-7.42,7.51-3.2,1.69-7.01,2.54-11.44,2.54ZM510.7,418.12c1.86,0,3.49-.48,4.88-1.44,1.39-.96,2.47-2.27,3.24-3.94.77-1.67,1.15-3.57,1.15-5.7s-.4-4.1-1.19-5.74c-.79-1.64-1.89-2.93-3.28-3.86s-3.02-1.4-4.88-1.4-3.61.47-5.09,1.4c-1.48.93-2.62,2.21-3.45,3.86s-1.26,3.56-1.31,5.74c.05,2.13.49,4.03,1.31,5.7.82,1.67,1.98,2.98,3.49,3.94,1.5.96,3.21,1.44,5.13,1.44Z"/>
    </g>
  </g>
</svg>
    </div>

  </a>
</div>

<!-- 2) New: Upcoming Unit -->
<a href="/unitform/form_upcoming" class="unit-card">
  <div class="svg-container" style="width: 60px; padding-top: 10px;">
<?xml version="1.0" encoding="UTF-8"?>
<svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 371 447.76">
  <defs>
    <style>
      .cls-61 {
        fill: #4e50a2;
      }

      .cls-62 {
        fill: #fff;
      }

      .cls-63 {
        fill: #939598;
      }

      .cls-64 {
        fill: #f7f7f7;
      }
    </style>
  </defs>
  <g id="Layer_2-2" data-name="Layer 2">
    <rect class="cls-62" x="2.46" y="44.2" width="63.38" height="55.58"/>
    <rect class="cls-62" x="79.22" y="44.2" width="63.38" height="55.58"/>
    <rect class="cls-62" x="154.22" y="44.2" width="63.38" height="55.58"/>
    <rect class="cls-62" x="303.62" y="44.2" width="63.38" height="55.58"/>
    <rect class="cls-62" x="228.19" y="43.24" width="63.38" height="55.58"/>
    <rect class="cls-62" x="228.19" y="114.57" width="63.38" height="55.58"/>
    <rect class="cls-62" x="2.75" y="115.54" width="63.38" height="55.58"/>
    <rect class="cls-62" x="79.51" y="115.54" width="63.38" height="55.58"/>
    <rect class="cls-62" x="154.51" y="115.54" width="63.38" height="55.58"/>
    <rect class="cls-62" x="303.9" y="115.54" width="63.38" height="55.58"/>
    <rect class="cls-62" x="3.84" y="186.88" width="63.38" height="55.58"/>
    <rect class="cls-62" x="80.6" y="186.88" width="63.38" height="55.58"/>
    <rect class="cls-62" x="155.6" y="186.88" width="63.38" height="55.58"/>
    <rect class="cls-62" x="305" y="186.88" width="63.38" height="55.58"/>
    <rect class="cls-62" x="227.6" y="185.91" width="63.38" height="55.58"/>
    <rect class="cls-62" x="3.97" y="255.47" width="63.38" height="55.58"/>
    <rect class="cls-62" x="80.74" y="255.47" width="63.38" height="55.58"/>
    <rect class="cls-62" x="155.73" y="255.47" width="63.38" height="55.58"/>
    <rect class="cls-62" x="305.13" y="255.47" width="63.38" height="55.58"/>
    <rect class="cls-62" x="229.21" y="254.5" width="63.38" height="55.58"/>
    <path class="cls-63" d="M65.77,41H2.3C1.03,41,0,42,0,43.24v55.58C0,100.06,1.03,101.06,2.3,101.06h63.47c1.27,0,2.3-1,2.3-2.24v-55.58c0-1.24-1.03-2.24-2.3-2.24ZM64.5,96.44c0,.81-.67,1.47-1.51,1.47H5.08c-.83,0-1.51-.66-1.51-1.47v-50.82c0-.81.67-1.47,1.51-1.47h57.92c.83,0,1.51.66,1.51,1.47v50.82Z"/>
    <path class="cls-63" d="M141.95,41h-63.47c-1.27,0-2.3,1-2.3,2.24v55.58c0,1.24,1.03,2.24,2.3,2.24h63.47c1.27,0,2.3-1,2.3-2.24v-55.58c0-1.24-1.03-2.24-2.3-2.24ZM140.67,96.44c0,.81-.67,1.47-1.51,1.47h-57.92c-.83,0-1.51-.66-1.51-1.47v-50.82c0-.81.67-1.47,1.51-1.47h57.92c.83,0,1.51.66,1.51,1.47v50.82Z"/>
    <path class="cls-63" d="M216.94,41h-63.47c-1.27,0-2.3,1-2.3,2.24v55.58c0,1.24,1.03,2.24,2.3,2.24h63.47c1.27,0,2.3-1,2.3-2.24v-55.58c0-1.24-1.03-2.24-2.3-2.24ZM215.67,96.44c0,.81-.67,1.47-1.51,1.47h-57.92c-.83,0-1.51-.66-1.51-1.47v-50.82c0-.81.67-1.47,1.51-1.47h57.92c.83,0,1.51.66,1.51,1.47v50.82Z"/>
    <path class="cls-63" d="M291.02,41h-63.47c-1.27,0-2.3,1-2.3,2.24v55.58c0,1.24,1.03,2.24,2.3,2.24h63.47c1.27,0,2.3-1,2.3-2.24v-55.58c0-1.24-1.03-2.24-2.3-2.24ZM289.75,96.44c0,.81-.67,1.47-1.51,1.47h-57.92c-.83,0-1.51-.66-1.51-1.47v-50.82c0-.81.67-1.47,1.51-1.47h57.92c.83,0,1.51.66,1.51,1.47v50.82Z"/>
    <path class="cls-63" d="M366.93,41h-63.47c-1.27,0-2.3,1-2.3,2.24v55.58c0,1.24,1.03,2.24,2.3,2.24h63.47c1.27,0,2.3-1,2.3-2.24v-55.58c0-1.24-1.03-2.24-2.3-2.24ZM365.66,96.44c0,.81-.67,1.47-1.51,1.47h-57.92c-.83,0-1.51-.66-1.51-1.47v-50.82c0-.81.67-1.47,1.51-1.47h57.92c.83,0,1.51.66,1.51,1.47v50.82Z"/>
    <path class="cls-63" d="M66.36,112.34H2.89c-1.27,0-2.3,1-2.3,2.24v55.58c0,1.24,1.03,2.24,2.3,2.24h63.47c1.27,0,2.3-1,2.3-2.24v-55.58c0-1.24-1.03-2.24-2.3-2.24ZM65.09,167.78c0,.81-.67,1.47-1.51,1.47H5.67c-.83,0-1.51-.66-1.51-1.47v-50.82c0-.81.67-1.47,1.51-1.47h57.92c.83,0,1.51.66,1.51,1.47v50.82Z"/>
    <path class="cls-63" d="M142.54,112.34h-63.47c-1.27,0-2.3,1-2.3,2.24v55.58c0,1.24,1.03,2.24,2.3,2.24h63.47c1.27,0,2.3-1,2.3-2.24v-55.58c0-1.24-1.03-2.24-2.3-2.24ZM141.26,167.78c0,.81-.67,1.47-1.51,1.47h-57.92c-.83,0-1.51-.66-1.51-1.47v-50.82c0-.81.67-1.47,1.51-1.47h57.92c.83,0,1.51.66,1.51,1.47v50.82Z"/>
    <path class="cls-63" d="M217.53,112.34h-63.47c-1.27,0-2.3,1-2.3,2.24v55.58c0,1.24,1.03,2.24,2.3,2.24h63.47c1.27,0,2.3-1,2.3-2.24v-55.58c0-1.24-1.03-2.24-2.3-2.24ZM216.26,167.78c0,.81-.67,1.47-1.51,1.47h-57.92c-.83,0-1.51-.66-1.51-1.47v-50.82c0-.81.67-1.47,1.51-1.47h57.92c.83,0,1.51.66,1.51,1.47v50.82Z"/>
    <path class="cls-63" d="M291.61,112.34h-63.47c-1.27,0-2.3,1-2.3,2.24v55.58c0,1.24,1.03,2.24,2.3,2.24h63.47c1.27,0,2.3-1,2.3-2.24v-55.58c0-1.24-1.03-2.24-2.3-2.24ZM290.34,167.78c0,.81-.67,1.47-1.51,1.47h-57.92c-.83,0-1.51-.66-1.51-1.47v-50.82c0-.81.67-1.47,1.51-1.47h57.92c.83,0,1.51.66,1.51,1.47v50.82Z"/>
    <path class="cls-63" d="M367.52,112.34h-63.47c-1.27,0-2.3,1-2.3,2.24v55.58c0,1.24,1.03,2.24,2.3,2.24h63.47c1.27,0,2.3-1,2.3-2.24v-55.58c0-1.24-1.03-2.24-2.3-2.24ZM366.25,167.78c0,.81-.67,1.47-1.51,1.47h-57.92c-.83,0-1.51-.66-1.51-1.47v-50.82c0-.81.67-1.47,1.51-1.47h57.92c.83,0,1.51.66,1.51,1.47v50.82Z"/>
    <path class="cls-63" d="M66.95,183.67H3.48c-1.27,0-2.3,1-2.3,2.24v55.58c0,1.24,1.03,2.24,2.3,2.24h63.47c1.27,0,2.3-1,2.3-2.24v-55.58c0-1.24-1.03-2.24-2.3-2.24ZM65.68,239.11c0,.81-.67,1.47-1.51,1.47H6.26c-.83,0-1.51-.66-1.51-1.47v-50.82c0-.81.67-1.47,1.51-1.47h57.92c.83,0,1.51.66,1.51,1.47v50.82Z"/>
    <path class="cls-63" d="M143.13,183.67h-63.47c-1.27,0-2.3,1-2.3,2.24v55.58c0,1.24,1.03,2.24,2.3,2.24h63.47c1.27,0,2.3-1,2.3-2.24v-55.58c0-1.24-1.03-2.24-2.3-2.24ZM141.85,239.11c0,.81-.67,1.47-1.51,1.47h-57.92c-.83,0-1.51-.66-1.51-1.47v-50.82c0-.81.67-1.47,1.51-1.47h57.92c.83,0,1.51.66,1.51,1.47v50.82Z"/>
    <path class="cls-63" d="M218.12,183.67h-63.47c-1.27,0-2.3,1-2.3,2.24v55.58c0,1.24,1.03,2.24,2.3,2.24h63.47c1.27,0,2.3-1,2.3-2.24v-55.58c0-1.24-1.03-2.24-2.3-2.24ZM216.85,239.11c0,.81-.67,1.47-1.51,1.47h-57.92c-.83,0-1.51-.66-1.51-1.47v-50.82c0-.81.67-1.47,1.51-1.47h57.92c.83,0,1.51.66,1.51,1.47v50.82Z"/>
    <path class="cls-63" d="M292.2,183.67h-63.47c-1.27,0-2.3,1-2.3,2.24v55.58c0,1.24,1.03,2.24,2.3,2.24h63.47c1.27,0,2.3-1,2.3-2.24v-55.58c0-1.24-1.03-2.24-2.3-2.24ZM290.93,239.11c0,.81-.67,1.47-1.51,1.47h-57.92c-.83,0-1.51-.66-1.51-1.47v-50.82c0-.81.67-1.47,1.51-1.47h57.92c.83,0,1.51.66,1.51,1.47v50.82Z"/>
    <path class="cls-63" d="M368.11,183.67h-63.47c-1.27,0-2.3,1-2.3,2.24v55.58c0,1.24,1.03,2.24,2.3,2.24h63.47c1.27,0,2.3-1,2.3-2.24v-55.58c0-1.24-1.03-2.24-2.3-2.24ZM366.84,239.11c0,.81-.67,1.47-1.51,1.47h-57.92c-.83,0-1.51-.66-1.51-1.47v-50.82c0-.81.67-1.47,1.51-1.47h57.92c.83,0,1.51.66,1.51,1.47v50.82Z"/>
    <path class="cls-63" d="M67.54,252.27H4.07c-1.27,0-2.3,1-2.3,2.24v55.58c0,1.24,1.03,2.24,2.3,2.24h63.47c1.27,0,2.3-1,2.3-2.24v-55.58c0-1.24-1.03-2.24-2.3-2.24ZM66.27,307.7c0,.81-.67,1.47-1.51,1.47H6.85c-.83,0-1.51-.66-1.51-1.47v-50.82c0-.81.67-1.47,1.51-1.47h57.92c.83,0,1.51.66,1.51,1.47v50.82Z"/>
    <path class="cls-63" d="M143.72,252.27h-63.47c-1.27,0-2.3,1-2.3,2.24v55.58c0,1.24,1.03,2.24,2.3,2.24h63.47c1.27,0,2.3-1,2.3-2.24v-55.58c0-1.24-1.03-2.24-2.3-2.24ZM142.44,307.7c0,.81-.67,1.47-1.51,1.47h-57.92c-.83,0-1.51-.66-1.51-1.47v-50.82c0-.81.67-1.47,1.51-1.47h57.92c.83,0,1.51.66,1.51,1.47v50.82Z"/>
    <path class="cls-63" d="M218.71,252.27h-63.47c-1.27,0-2.3,1-2.3,2.24v55.58c0,1.24,1.03,2.24,2.3,2.24h63.47c1.27,0,2.3-1,2.3-2.24v-55.58c0-1.24-1.03-2.24-2.3-2.24ZM217.44,307.7c0,.81-.67,1.47-1.51,1.47h-57.92c-.83,0-1.51-.66-1.51-1.47v-50.82c0-.81.67-1.47,1.51-1.47h57.92c.83,0,1.51.66,1.51,1.47v50.82Z"/>
    <path class="cls-63" d="M292.79,252.27h-63.47c-1.27,0-2.3,1-2.3,2.24v55.58c0,1.24,1.03,2.24,2.3,2.24h63.47c1.27,0,2.3-1,2.3-2.24v-55.58c0-1.24-1.03-2.24-2.3-2.24ZM291.52,307.7c0,.81-.67,1.47-1.51,1.47h-57.92c-.83,0-1.51-.66-1.51-1.47v-50.82c0-.81.67-1.47,1.51-1.47h57.92c.83,0,1.51.66,1.51,1.47v50.82Z"/>
    <path class="cls-63" d="M368.7,252.27h-63.47c-1.27,0-2.3,1-2.3,2.24v55.58c0,1.24,1.03,2.24,2.3,2.24h63.47c1.27,0,2.3-1,2.3-2.24v-55.58c0-1.24-1.03-2.24-2.3-2.24ZM367.43,307.7c0,.81-.67,1.47-1.51,1.47h-57.92c-.83,0-1.51-.66-1.51-1.47v-50.82c0-.81.67-1.47,1.51-1.47h57.92c.83,0,1.51.66,1.51,1.47v50.82Z"/>
    <rect class="cls-63" width="369.23" height="29.72"/>
    <path class="cls-64" d="M98.61,147.46s44.4-7.21,108.3-68.49c0,0,20.22-36.54,48.7-5.24,28.47,31.29,34.7,64.55,34.7,64.55,0,0,12.29,55.54,6.55,85.2s-36.87,24.74-36.87,24.74c0,0-61.28-20.39-84.22-16.09,0,0-8.68-.46,12.12,49.02,0,0,4.42,12.12-2.13,11.8s-27.53-2.95-27.53-2.95l-16.88-52.27-22.45,3.77s-36.54,10.98-53.74-32.61c-17.2-43.58,33.42-61.44,33.42-61.44Z"/>
    <g>
      <path class="cls-61" d="M211.47,86v-2.64l-39.95,34.13s-15.11,17.7-72.62,34.65c0,0-16.96,17.33-10.32,46.08,6.64,28.75,25.81,35.02,25.81,35.02,0,0,53.09-16.59,85.16-7.37,32.07,9.22,52.72,10.26,52.72,10.26,0,0-52.18-48.68-40.78-150.13Z"/>
      <path class="cls-61" d="M166.72,232.14l-22.86,3.99,18.8,49.46,16.96,2.21s7-2.58,2.58-9.58c-4.42-7-17.33-32.07-15.48-46.08Z"/>
      <path class="cls-61" d="M80.46,175h-8.11s-6.34,15.28-3.32,28.75c2.99,13.31,18,25.81,18,25.81l7.44-2.58s-21.17-23.22-14.01-51.98Z"/>
      <path class="cls-61" d="M261,173.69c5.87-1.57,6.97-10.4,3.81-22.2-3.16-11.8-8.67-18.53-14.54-16.96s-7.05,10.15-3.89,21.96,8.76,18.77,14.62,17.2Z"/>
      <path class="cls-61" d="M219.64,144.82c1.12,5.97,2.51,12.11,4.18,18.35,1.58,5.93,3.34,11.65,5.23,17.12l21.65-5.35h0c-3.97-3.89-7.43-9.96-9.37-17.21-1.8-6.75-1.96-13.27-.76-18.45l-20.94,5.55Z"/>
      <path class="cls-61" d="M280.67,147.97c-12.35-46.18-35.08-80.22-50.78-76.02-12.6,3.37-16.83,30.37-11.62,64.78l30.52-8.16s0,0,.02,0c0,0,.01,0,.02,0l.82-.22-.04.05c7.69-1.28,16.59,8.19,20.21,21.72,3.74,14,.41,27.06-7.45,29.16-.37.1-.74.16-1.11.21l-29.61,7.92c12.71,33.24,30.17,55.21,42.96,51.79,15.7-4.2,18.41-45.04,6.06-91.22Z"/>
    </g>
    <g>
      <path class="cls-61" d="M4.73,411.55v-20.28h10.46v20.28H4.73ZM15.19,411.55c0,2.64.3,4.71.91,6.22.61,1.51,1.48,2.59,2.61,3.25,1.14.66,2.42.99,3.84.99,2.75.05,4.83-.78,6.26-2.5,1.43-1.72,2.14-4.21,2.14-7.49h3.57c0,4.23-.63,7.8-1.9,10.74-1.27,2.93-3.01,5.18-5.23,6.73-2.22,1.56-4.83,2.34-7.84,2.34-3.17,0-5.86-.63-8.08-1.9-2.22-1.27-3.9-3.23-5.03-5.9-1.14-2.67-1.7-6.11-1.7-10.34v-2.14h10.46ZM31.59,430.88l-.63-7.29v-32.33h10.46v39.61h-9.82Z"/>
      <path class="cls-61" d="M50.84,446.73v-55.46h9.82l.63,7.29v48.17h-10.46ZM73.27,431.84c-3.33,0-6.14-.85-8.44-2.54-2.3-1.69-4.05-4.09-5.27-7.21-1.22-3.12-1.82-6.79-1.82-11.01s.61-7.96,1.82-11.05c1.21-3.09,2.97-5.48,5.27-7.17s5.11-2.54,8.44-2.54c3.64,0,6.8.85,9.47,2.54,2.67,1.69,4.74,4.08,6.22,7.17,1.48,3.09,2.22,6.77,2.22,11.05s-.74,7.9-2.22,11.01c-1.48,3.12-3.55,5.52-6.22,7.21-2.67,1.69-5.82,2.54-9.47,2.54ZM70.57,422.25c1.9,0,3.58-.48,5.03-1.43,1.45-.95,2.6-2.27,3.45-3.96.84-1.69,1.27-3.62,1.27-5.78s-.41-4.09-1.23-5.78c-.82-1.69-1.95-3-3.41-3.92-1.45-.92-3.13-1.39-5.03-1.39-1.8,0-3.41.47-4.83,1.43-1.43.95-2.54,2.26-3.33,3.92-.79,1.66-1.19,3.58-1.19,5.74s.4,4.09,1.19,5.78c.79,1.69,1.89,3.01,3.29,3.96,1.4.95,3,1.43,4.79,1.43Z"/>
      <path class="cls-61" d="M117.16,431.84c-4.12,0-7.79-.89-11.01-2.65-3.22-1.77-5.73-4.23-7.53-7.37-1.8-3.14-2.69-6.72-2.69-10.74s.9-7.66,2.69-10.78c1.8-3.12,4.28-5.56,7.45-7.33,3.17-1.77,6.81-2.65,10.93-2.65s7.58.98,10.85,2.93c3.27,1.95,5.65,4.78,7.13,8.48l-9.82,3.49c-.74-1.53-1.89-2.76-3.45-3.68-1.56-.92-3.29-1.39-5.19-1.39s-3.67.46-5.15,1.39c-1.48.92-2.64,2.21-3.49,3.84-.85,1.64-1.27,3.54-1.27,5.7s.42,4.05,1.27,5.67c.84,1.61,2.03,2.89,3.57,3.84,1.53.95,3.27,1.43,5.23,1.43s3.63-.5,5.19-1.5c1.56-1,2.71-2.32,3.45-3.96l9.9,3.49c-1.53,3.75-3.92,6.66-7.17,8.72s-6.88,3.09-10.89,3.09Z"/>
      <path class="cls-61" d="M159.94,431.84c-4.01,0-7.59-.89-10.74-2.65-3.14-1.77-5.6-4.21-7.37-7.33-1.77-3.12-2.65-6.71-2.65-10.78s.87-7.66,2.61-10.78c1.74-3.12,4.17-5.56,7.29-7.33,3.12-1.77,6.68-2.65,10.7-2.65s7.66.89,10.78,2.65c3.12,1.77,5.55,4.21,7.29,7.33,1.74,3.12,2.61,6.71,2.61,10.78s-.87,7.66-2.61,10.78c-1.74,3.12-4.16,5.56-7.25,7.33s-6.64,2.65-10.66,2.65ZM159.94,422.17c1.95,0,3.67-.47,5.15-1.43,1.48-.95,2.63-2.26,3.45-3.92.82-1.66,1.23-3.58,1.23-5.74s-.42-4.08-1.27-5.74c-.85-1.66-2.02-2.97-3.53-3.92-1.51-.95-3.24-1.43-5.19-1.43s-3.6.47-5.11,1.43c-1.51.95-2.68,2.26-3.53,3.92-.85,1.66-1.27,3.58-1.27,5.74s.42,4.08,1.27,5.74c.84,1.66,2.03,2.97,3.57,3.92,1.53.95,3.27,1.43,5.23,1.43Z"/>
      <path class="cls-61" d="M187.36,430.88v-39.61h9.82l.47,5.15c1.21-2.01,2.77-3.53,4.67-4.56,1.9-1.03,4.01-1.55,6.34-1.55,3.22,0,5.93.69,8.12,2.06,2.19,1.37,3.79,3.49,4.79,6.34,1.16-2.69,2.8-4.77,4.91-6.22,2.11-1.45,4.57-2.18,7.37-2.18,4.65,0,8.19,1.47,10.62,4.4,2.43,2.93,3.64,7.44,3.64,13.51v22.66h-10.46v-20.28c0-2.69-.29-4.78-.87-6.26-.58-1.48-1.37-2.55-2.38-3.21-1-.66-2.19-.99-3.57-.99-2.54-.05-4.49.77-5.86,2.46-1.37,1.69-2.06,4.2-2.06,7.53v20.76h-10.46v-20.28c0-2.69-.28-4.78-.83-6.26-.55-1.48-1.35-2.55-2.38-3.21-1.03-.66-2.23-.99-3.61-.99-2.54-.05-4.48.77-5.82,2.46-1.35,1.69-2.02,4.2-2.02,7.53v20.76h-10.46Z"/>
      <path class="cls-61" d="M262.31,384.85c-1.58,0-2.98-.59-4.2-1.78-1.22-1.19-1.82-2.6-1.82-4.24s.61-3.05,1.82-4.24c1.21-1.19,2.61-1.78,4.2-1.78s3.05.59,4.24,1.78c1.19,1.19,1.78,2.6,1.78,4.24s-.59,3.05-1.78,4.24c-1.19,1.19-2.6,1.78-4.24,1.78ZM257.08,430.88v-39.61h10.46v39.61h-10.46Z"/>
      <path class="cls-61" d="M277.2,430.88v-39.61h9.82l.63,7.29v32.33h-10.46ZM303.43,410.6c0-2.69-.3-4.78-.91-6.26-.61-1.48-1.47-2.55-2.57-3.21-1.11-.66-2.4-.99-3.88-.99-2.69-.05-4.77.77-6.22,2.46-1.45,1.69-2.18,4.2-2.18,7.53h-3.49c0-4.23.62-7.8,1.86-10.74,1.24-2.93,2.98-5.18,5.23-6.73,2.24-1.56,4.87-2.34,7.88-2.34s5.78.63,8,1.9c2.22,1.27,3.91,3.24,5.07,5.9,1.16,2.67,1.72,6.11,1.66,10.34v2.14h-10.46ZM303.43,430.88v-20.28h10.46v20.28h-10.46Z"/>
      <path class="cls-61" d="M337.97,429.78c-3.64,0-6.8-.79-9.47-2.38-2.67-1.59-4.74-3.8-6.22-6.66-1.48-2.85-2.22-6.23-2.22-10.14,0-4.12.74-7.7,2.22-10.74,1.48-3.04,3.55-5.39,6.22-7.05,2.67-1.66,5.82-2.5,9.47-2.5,3.17,0,5.91.83,8.24,2.5,2.32,1.66,4.12,4.03,5.39,7.09,1.27,3.06,1.9,6.71,1.9,10.93,0,3.8-.63,7.13-1.9,9.98-1.27,2.85-3.06,5.06-5.39,6.62-2.32,1.56-5.07,2.34-8.24,2.34ZM340.03,447.76c-3.01,0-5.68-.21-8-.63-2.32-.42-4.28-.98-5.86-1.66-1.58-.69-2.88-1.37-3.88-2.06l4.12-8.4c.74.42,1.72.91,2.93,1.47,1.21.55,2.67,1.03,4.36,1.43,1.69.4,3.64.59,5.86.59s3.97-.41,5.59-1.23c1.61-.82,2.88-2.09,3.8-3.8.92-1.72,1.39-3.89,1.39-6.54v-35.65h10.46v35.34c0,4.44-.85,8.25-2.54,11.45-1.69,3.2-4.08,5.61-7.17,7.25-3.09,1.64-6.77,2.46-11.05,2.46ZM340.98,420.98c1.8,0,3.37-.46,4.71-1.39,1.35-.92,2.39-2.19,3.13-3.8.74-1.61,1.11-3.45,1.11-5.51s-.38-3.96-1.15-5.55c-.77-1.59-1.82-2.83-3.17-3.72s-2.92-1.35-4.71-1.35-3.49.45-4.91,1.35c-1.43.9-2.54,2.14-3.33,3.72s-1.22,3.43-1.27,5.55c.05,2.06.48,3.9,1.27,5.51.79,1.61,1.91,2.88,3.37,3.8,1.45.92,3.1,1.39,4.95,1.39Z"/>
    </g>
  </g>
</svg>
  </div>

</a>



<!-- Other unit cards... -->
<a href="/peercoaching" class="unit-card">
    <div class="svg-container" style="width: 90px; padding-top: 15px;"><svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 412.21 291.27">
  <defs>
    <style>
      .cls-91 {
        fill: #4e50a2;
      }
    </style>
  </defs>
  <g id="Layer_1-2" data-name="Layer 1">
    <path class="cls-91" d="M105.16,196.56v-62.95h65.8l-21.62,20.65s31.96,51.73,89.3,10.83c0,0,4.7,7.03,8.46,7.03,0,0-26.32-3.76-33.84,31.02,0,0-57.34,8.46-82.72-28.2l-25.38,21.62Z"/>
    <path class="cls-91" d="M284.87,40.44v62.95h-65.8l21.62-20.65s-19.35-36.89-74.68-21.31c0,0-.87-2.27-8.21-4.19,0,0,12.58-5.85,15.63-22.27,0,0,60.68-9.57,86.05,27.09l25.38-21.62Z"/>
    <circle class="cls-91" cx="272.01" cy="142.28" r="29.14"/>
    <path class="cls-91" d="M218.9,202.44s3.99-22.09,28.2-25.85h49.58s19.27,4.93,20.21,25.85h-97.99Z"/>
    <circle class="cls-91" cx="140.25" cy="29.14" r="29.14"/>
    <path class="cls-91" d="M91.25,90.62s3.99-22.09,28.2-25.85h49.58s19.27,4.93,20.21,25.85h-97.99Z"/>
    <g>
      <path class="cls-91" d="M0,290.43v-44.99h7.97l.52,5.91v39.08H0ZM18.19,278.35c-2.7,0-4.98-.69-6.85-2.06-1.86-1.37-3.29-3.32-4.27-5.85s-1.48-5.51-1.48-8.93.49-6.46,1.48-8.96c.99-2.51,2.41-4.45,4.27-5.82,1.86-1.37,4.15-2.06,6.85-2.06,2.96,0,5.52.69,7.68,2.06,2.16,1.37,3.84,3.31,5.04,5.82,1.2,2.51,1.8,5.49,1.8,8.96s-.6,6.41-1.8,8.93c-1.2,2.53-2.88,4.48-5.04,5.85-2.17,1.37-4.73,2.06-7.68,2.06ZM16,270.57c1.54,0,2.9-.39,4.08-1.16,1.18-.77,2.11-1.84,2.8-3.21.69-1.37,1.03-2.93,1.03-4.69s-.33-3.32-1-4.69-1.58-2.43-2.76-3.18c-1.18-.75-2.54-1.12-4.08-1.12-1.46,0-2.76.38-3.92,1.16-1.16.77-2.06,1.83-2.7,3.18-.64,1.35-.96,2.9-.96,4.66s.32,3.32.96,4.69c.64,1.37,1.53,2.44,2.67,3.21,1.13.77,2.43,1.16,3.89,1.16Z"/>
      <path class="cls-91" d="M52.83,278.35c-3.17,0-5.98-.72-8.42-2.15-2.44-1.44-4.36-3.42-5.75-5.95-1.39-2.53-2.09-5.44-2.09-8.74s.72-6.21,2.15-8.74c1.43-2.53,3.4-4.51,5.91-5.95,2.51-1.43,5.39-2.15,8.64-2.15,2.83,0,5.43.74,7.81,2.21,2.38,1.48,4.28,3.65,5.72,6.5,1.44,2.85,2.15,6.31,2.15,10.38h-24.36l.77-.77c0,1.58.39,2.97,1.19,4.14.79,1.18,1.82,2.08,3.08,2.7,1.27.62,2.63.93,4.08.93,1.76,0,3.19-.37,4.31-1.12,1.11-.75,1.97-1.72,2.57-2.92l7.58,2.96c-.9,1.8-2.07,3.35-3.5,4.65-1.44,1.31-3.14,2.31-5.11,2.99-1.97.69-4.22,1.03-6.75,1.03ZM45.82,258.23l-.77-.77h15.49l-.71.77c0-1.54-.37-2.77-1.09-3.69-.73-.92-1.62-1.6-2.67-2.02-1.05-.43-2.07-.64-3.05-.64s-2.04.21-3.15.64c-1.12.43-2.07,1.1-2.86,2.02s-1.19,2.15-1.19,3.69Z"/>
      <path class="cls-91" d="M88.43,278.35c-3.17,0-5.98-.72-8.42-2.15-2.44-1.44-4.36-3.42-5.75-5.95-1.39-2.53-2.09-5.44-2.09-8.74s.72-6.21,2.15-8.74c1.43-2.53,3.4-4.51,5.91-5.95,2.51-1.43,5.39-2.15,8.64-2.15,2.83,0,5.43.74,7.81,2.21,2.38,1.48,4.28,3.65,5.72,6.5,1.44,2.85,2.15,6.31,2.15,10.38h-24.36l.77-.77c0,1.58.39,2.97,1.19,4.14.79,1.18,1.82,2.08,3.08,2.7,1.27.62,2.63.93,4.08.93,1.76,0,3.19-.37,4.31-1.12,1.11-.75,1.97-1.72,2.57-2.92l7.58,2.96c-.9,1.8-2.07,3.35-3.5,4.65-1.44,1.31-3.14,2.31-5.11,2.99-1.97.69-4.22,1.03-6.75,1.03ZM81.43,258.23l-.77-.77h15.49l-.71.77c0-1.54-.37-2.77-1.09-3.69-.73-.92-1.62-1.6-2.67-2.02-1.05-.43-2.07-.64-3.05-.64s-2.04.21-3.15.64c-1.12.43-2.07,1.1-2.86,2.02s-1.19,2.15-1.19,3.69Z"/>
      <path class="cls-91" d="M109.51,277.58v-32.13h8.48v32.13h-8.48ZM115.49,260.67c0-3.47.67-6.34,2.03-8.61,1.35-2.27,3.08-3.96,5.2-5.08s4.34-1.67,6.65-1.67v8.23c-1.97,0-3.82.24-5.56.71-1.74.48-3.14,1.24-4.21,2.32-1.07,1.07-1.61,2.44-1.61,4.11h-2.51Z"/>
      <path class="cls-91" d="M164.65,278.35c-3.34,0-6.32-.72-8.93-2.15-2.62-1.44-4.65-3.43-6.11-5.98-1.46-2.55-2.19-5.45-2.19-8.71s.73-6.21,2.19-8.74c1.46-2.53,3.47-4.51,6.04-5.95,2.57-1.43,5.53-2.15,8.87-2.15s6.15.79,8.81,2.37c2.66,1.58,4.58,3.88,5.78,6.88l-7.97,2.83c-.6-1.24-1.53-2.24-2.8-2.99-1.27-.75-2.67-1.12-4.21-1.12s-2.98.38-4.18,1.12c-1.2.75-2.14,1.79-2.83,3.12s-1.03,2.87-1.03,4.63.34,3.29,1.03,4.6,1.65,2.34,2.89,3.12c1.24.77,2.66,1.16,4.24,1.16s2.94-.41,4.21-1.22c1.26-.81,2.19-1.88,2.8-3.21l8.03,2.83c-1.24,3.04-3.18,5.4-5.82,7.07-2.64,1.67-5.58,2.51-8.84,2.51Z"/>
      <path class="cls-91" d="M199.36,278.35c-3.26,0-6.16-.72-8.71-2.15-2.55-1.44-4.54-3.42-5.98-5.95-1.44-2.53-2.15-5.44-2.15-8.74s.71-6.21,2.12-8.74c1.41-2.53,3.38-4.51,5.91-5.95,2.53-1.43,5.42-2.15,8.68-2.15s6.21.72,8.74,2.15c2.53,1.44,4.5,3.42,5.91,5.95,1.41,2.53,2.12,5.44,2.12,8.74s-.71,6.21-2.12,8.74c-1.41,2.53-3.37,4.51-5.88,5.95-2.51,1.43-5.39,2.15-8.65,2.15ZM199.36,270.51c1.58,0,2.98-.38,4.18-1.16,1.2-.77,2.13-1.83,2.8-3.18.66-1.35,1-2.9,1-4.66s-.35-3.31-1.03-4.66-1.64-2.41-2.86-3.18c-1.22-.77-2.63-1.16-4.21-1.16s-2.92.38-4.14,1.16c-1.22.77-2.18,1.83-2.86,3.18s-1.03,2.9-1.03,4.66.34,3.31,1.03,4.66,1.65,2.41,2.89,3.18c1.24.77,2.66,1.16,4.24,1.16Z"/>
      <path class="cls-91" d="M232.01,278.35c-3.85,0-6.84-.85-8.96-2.57s-3.18-4.14-3.18-7.26c0-3.43,1.15-6.01,3.44-7.74,2.29-1.74,5.52-2.6,9.67-2.6h8.16v6.3h-5.21c-2.79,0-4.71.33-5.78,1-1.07.66-1.61,1.6-1.61,2.79,0,.95.43,1.68,1.29,2.22.86.54,2.06.81,3.6.81,1.41,0,2.67-.33,3.76-1,1.09-.66,1.96-1.52,2.6-2.57s.96-2.13.96-3.25h2.06c0,4.37-.83,7.78-2.47,10.22-1.65,2.44-4.42,3.66-8.32,3.66ZM241,277.58l-.26-6.49v-9.77c0-1.93-.2-3.58-.61-4.95s-1.05-2.43-1.93-3.18c-.88-.75-2.07-1.12-3.57-1.12-1.37,0-2.62.3-3.73.9s-2.06,1.52-2.83,2.76l-7.46-2.57c.6-1.38,1.48-2.71,2.64-4.02,1.16-1.31,2.67-2.38,4.53-3.22,1.86-.84,4.15-1.25,6.85-1.25,3.26,0,5.97.62,8.13,1.86,2.16,1.24,3.77,2.99,4.82,5.24,1.05,2.25,1.55,4.92,1.51,8l-.19,17.8h-7.91Z"/>
      <path class="cls-91" d="M271.34,278.35c-3.34,0-6.32-.72-8.93-2.15-2.62-1.44-4.65-3.43-6.11-5.98-1.46-2.55-2.19-5.45-2.19-8.71s.73-6.21,2.19-8.74,3.47-4.51,6.04-5.95c2.57-1.43,5.53-2.15,8.87-2.15s6.15.79,8.81,2.37c2.66,1.58,4.58,3.88,5.78,6.88l-7.97,2.83c-.6-1.24-1.53-2.24-2.8-2.99-1.27-.75-2.67-1.12-4.21-1.12s-2.98.38-4.18,1.12c-1.2.75-2.14,1.79-2.83,3.12s-1.03,2.87-1.03,4.63.34,3.29,1.03,4.6,1.65,2.34,2.89,3.12c1.24.77,2.66,1.16,4.24,1.16s2.94-.41,4.21-1.22c1.26-.81,2.19-1.88,2.8-3.21l8.03,2.83c-1.24,3.04-3.18,5.4-5.82,7.07-2.64,1.67-5.58,2.51-8.84,2.51Z"/>
      <path class="cls-91" d="M291,277.58v-44.99h8.48v44.99h-8.48ZM312.34,261.12c0-2.19-.26-3.88-.77-5.07-.52-1.2-1.22-2.07-2.12-2.6s-1.95-.81-3.15-.81c-2.18-.04-3.87.62-5.04,1.99-1.18,1.37-1.77,3.4-1.77,6.11h-2.83c0-3.43.5-6.33,1.51-8.71,1-2.38,2.42-4.2,4.24-5.47,1.82-1.26,3.95-1.89,6.39-1.89,2.57,0,4.74.51,6.52,1.54,1.78,1.03,3.14,2.63,4.08,4.79.94,2.17,1.41,4.96,1.41,8.38v1.74h-8.48ZM312.34,277.58v-16.45h8.48v16.45h-8.48Z"/>
      <path class="cls-91" d="M332.33,240.24c-1.28,0-2.42-.48-3.4-1.45-.99-.96-1.48-2.11-1.48-3.44s.49-2.47,1.48-3.44c.99-.96,2.12-1.44,3.4-1.44s2.48.48,3.44,1.44c.96.97,1.45,2.11,1.45,3.44s-.48,2.47-1.45,3.44c-.96.97-2.11,1.45-3.44,1.45ZM328.08,277.58v-32.13h8.48v32.13h-8.48Z"/>
      <path class="cls-91" d="M344.41,277.58v-32.13h7.97l.52,5.91v26.22h-8.48ZM365.68,261.12c0-2.19-.25-3.88-.74-5.07-.49-1.2-1.19-2.07-2.09-2.6s-1.95-.81-3.15-.81c-2.19-.04-3.87.62-5.04,1.99-1.18,1.37-1.77,3.4-1.77,6.11h-2.83c0-3.43.5-6.33,1.51-8.71,1.01-2.38,2.42-4.2,4.24-5.47,1.82-1.26,3.95-1.89,6.39-1.89s4.69.51,6.49,1.54c1.8,1.03,3.17,2.63,4.11,4.79.94,2.17,1.39,4.96,1.35,8.38v1.74h-8.49ZM365.68,277.58v-16.45h8.49v16.45h-8.49Z"/>
      <path class="cls-91" d="M393.7,276.68c-2.96,0-5.52-.64-7.68-1.93-2.17-1.28-3.85-3.08-5.05-5.4-1.2-2.31-1.8-5.05-1.8-8.23,0-3.34.6-6.24,1.8-8.71,1.2-2.46,2.88-4.37,5.05-5.72,2.16-1.35,4.72-2.02,7.68-2.02,2.57,0,4.8.67,6.68,2.02s3.34,3.26,4.37,5.75c1.03,2.49,1.54,5.44,1.54,8.87,0,3.09-.51,5.78-1.54,8.1-1.03,2.32-2.49,4.11-4.37,5.37-1.89,1.27-4.11,1.9-6.68,1.9ZM395.37,291.27c-2.44,0-4.61-.17-6.49-.51s-3.47-.79-4.75-1.35c-1.29-.56-2.34-1.11-3.15-1.67l3.34-6.81c.6.34,1.39.74,2.38,1.19.98.45,2.16.84,3.53,1.16,1.37.32,2.96.49,4.76.49s3.22-.33,4.53-1c1.3-.66,2.33-1.69,3.08-3.09s1.12-3.16,1.12-5.3v-28.92h8.48v28.66c0,3.6-.69,6.69-2.06,9.29-1.37,2.59-3.31,4.55-5.82,5.88-2.51,1.33-5.49,1.99-8.97,1.99ZM396.14,269.54c1.46,0,2.73-.38,3.83-1.12,1.09-.75,1.94-1.78,2.54-3.09.6-1.31.9-2.79.9-4.47s-.31-3.21-.93-4.5c-.62-1.29-1.48-2.29-2.57-3.02-1.09-.73-2.37-1.09-3.82-1.09s-2.83.36-3.99,1.09c-1.16.73-2.06,1.74-2.7,3.02s-.99,2.79-1.03,4.5c.04,1.67.38,3.16,1.03,4.47s1.55,2.34,2.73,3.09c1.18.75,2.52,1.12,4.02,1.12Z"/>
    </g>
  </g>
</svg></div>

            </a>
        </div>
    </div>
</section>
