<div class="badge-row">
  <div class="badge-card">
    <img src="https://www.twennie.com/badges/basic/basic1.png" alt="Basic Badge 1">
    <button class="badge-pick-btn" 
      data-badge-path="https://www.twennie.com/badges/basic/basic1.png" 
      data-badge-name="Basic Badge 1">pick this badge</button>
  </div>
  
  <div class="badge-card">
    <img src="https://www.twennie.com/badges/basic/basic2.png" alt="Basic Badge 2">
    <button class="badge-pick-btn" 
      data-badge-path="https://www.twennie.com/badges/basic/basic2.png" 
      data-badge-name="Basic Badge 2">pick this badge</button>
  </div>

  <div class="badge-card">
    <img src="https://www.twennie.com/badges/basic/basic3.png" alt="Basic Badge 3">
    <button class="badge-pick-btn" 
      data-badge-path="https://www.twennie.com/badges/basic/basic3.png" 
      data-badge-name="Basic Badge 3">pick this badge</button>
  </div>

  <div class="badge-card">
    <img src="https://www.twennie.com/badges/basic/basic4.png" alt="Basic Badge 4">
    <button class="badge-pick-btn" 
      data-badge-path="https://www.twennie.com/badges/basic/basic4.png" 
      data-badge-name="Basic Badge 4">pick this badge</button>
  </div>

  <div class="badge-card">
    <img src="https://www.twennie.com/badges/basic/basic5.png" alt="Basic Badge 5">
    <button class="badge-pick-btn" 
      data-badge-path="https://www.twennie.com/badges/basic/basic5.png" 
      data-badge-name="Basic Badge 5">pick this badge</button>
  </div>

  <div class="badge-card">
    <img src="https://www.twennie.com/badges/basic/basic6.png" alt="Basic Badge 6">
    <button class="badge-pick-btn" 
      data-badge-path="https://www.twennie.com/badges/basic/basic6.png" 
      data-badge-name="Basic Badge 6">pick this badge</button>
  </div>

  <div class="badge-card">
    <img src="https://www.twennie.com/badges/basic/basic7.png" alt="Basic Badge 7">
    <button class="badge-pick-btn" 
      data-badge-path="https://www.twennie.com/badges/basic/basic7.png" 
      data-badge-name="Basic Badge 7">pick this badge</button>
  </div>

  <div class="badge-card">
    <img src="https://www.twennie.com/badges/basic/basic8.png" alt="Basic Badge 8">
    <button class="badge-pick-btn" 
      data-badge-path="https://www.twennie.com/badges/basic/basic8.png" 
      data-badge-name="Basic Badge 8">pick this badge</button>
  </div>

  <div class="badge-card">
    <img src="https://www.twennie.com/badges/basic/basic9.png" alt="Basic Badge 9">
    <button class="badge-pick-btn" 
      data-badge-path="https://www.twennie.com/badges/basic/basic9.png" 
      data-badge-name="Basic Badge 9">pick this badge</button>
  </div>

  <div class="badge-card">
    <img src="https://www.twennie.com/badges/basic/basic10.png" alt="Basic Badge 10">
    <button class="badge-pick-btn" 
      data-badge-path="https://www.twennie.com/badges/basic/basic10.png" 
      data-badge-name="Basic Badge 10">pick this badge</button>
  </div>
</div>

